.apps {
	display: flex;
	// .apps__item

	&__item {
		height: var(--offset-xls);
		transition: var(--transition) box-shadow;

		@media (any-hover: hover) {
			&:hover {
				box-shadow: var(--shadow);
			}
		}

		&--radius {
			border-radius: var(--brs-xs);

			img {
				border-radius: var(--border-radius_xs);
			}
		}

		&--appstore {
			width: 12.8rem;
		}

		&--googleplay {
			width: 13.5rem;
		}

		img {
			@extend %cover;
		}
	}
}
