.btn {
    @extend %grid-center;
    @extend %text-12;
    padding: 1.55rem;
    background-color: var(--yellow);
    font-weight: 500;
    text-transform: uppercase;
    transition: var(--transition) background-color, var(--transition) color, var(--transition) border-color;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--hover-yellow);
        }
    }

    &[disabled] {
        background-color: var(--gray);
        pointer-events: none;
    }

    &--style {
        &_bg {
            &-black {
                background-color: var(--black);
                color: var(--white);

                @media (any-hover: hover) {
                    &:hover {
                        background-color: var(--gray);
                    }
                }

                &:active,
                &:focus {
                    background-color: var(--dark-gray);
                }
            }

            &-white {
                background-color: var(--white);

                @media (any-hover: hover) {
                    &:hover {
                        background-color: var(--black);
                        color: var(--white);
                    }
                }
            }
        }
    }

    &--with {
        &_border {
            background-color: transparent;
            border: var(--border-black);

            @media (any-hover: hover) {
                &:hover {
                    background-color: var(--yellow);
                    border-color: var(--yellow);
                }
            }
        }

        &_radius {
            border-radius: var(--offset-xl);
        }
    }
}
