.btn {
    padding: 1.55rem;
    @extend %text-12;
    font-weight: 500;
    background-color: var(--yellow);
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s background-color;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--hover-yellow);
        }
    }

    &[disabled] {
        background-color: var(--gray);
        pointer-events: none;
    }

    &:active,
    &:focus {
        background-color: var(--dark-yellow);
    }

    &--black {
        background-color: var(--black);
        color: #fff;

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--gray);
            }
        }

        &:active,
        &:focus {
            background-color: var(--dark-gray);
        }
    }

    &--border {
        background-color: transparent;
        border: 0.1rem solid var(--black);
        transition: 0.5s background-color, 0.5s border-color;

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--yellow);
                border-color: var(--yellow);
            }
        }
    }
}

.arrow-btn {
    @extend %grid-center;
    width: var(--arrow-btn);
    height: var(--arrow-btn);
    background-color: var(--yellow);

    // .arrow-btn__svg

    &__svg {
        width: 2.4rem;
        height: 2.4rem;

        @media (max-width: 767px) {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &--white {
        background-color: #fff;
    }
}

.label {
    @extend %text-13;
    font-weight: 500;
    background-color: #fff;
    color: var(--black);
    border-radius: 3.2rem;
    padding: 0.1rem 0.8rem;

    &--black {
        background-color: var(--black);
        color: #fff;
    }

    &--green {
        background-color: var(--green);
        color: #fff;
    }

    &--yellow {
        background-color: var(--yellow);
    }
}
