.circle-text {
    $this: &;

    @include round(var(--circle-text));

    &__img {
        animation: circleText 5s infinite ease-in-out;
    }

    &__text {
        @extend %grid-center;
        @extend %text-13;
        text-align: center;
        border-radius: 50%;
        background-color: var(--white);
        color: var(--black);
    }

    &--dot {
        position: relative;

        &::before {
            content: '';
            @include position-center-xy;
            width: var(--arrow-btn);
            height: var(--arrow-btn);
            border-radius: 50%;
            background-color: var(--ocean);
        }
    }

    &--text {
        @extend %grid-center;
        position: relative;

        @media(min-width: 768px) {
            border: var(--border-white);
        }

        #{$this} {
            &__img {
                position: absolute;
            }
        }
    }
}

@keyframes circleText {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0);
    }
}
