.circle-text {
    width: var(--circle-text);
    height: var(--circle-text);
    animation: circleText 5s infinite ease-in-out;

    &--dot {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            @extend %pos-center-xy;
            width: var(--arrow-btn);
            height: var(--arrow-btn);
            border-radius: 50%;
            background-color: var(--ocean);
        }
    }
}

@keyframes circleText {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0);
    }
}
