.date {
    @extend %text-12;
    color: var(--dark-gray);
}

.date-box {
    --size: 9.6rem;

    @extend %grid-center;
    align-content: center;
    background-color: var(--black);
    color: var(--white);
    width: var(--size);
    height: var(--size);

    @media (max-width: 767px) {
        --size: var(--icon-size_xxxl);
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    &__day {
        @extend .section-title;

        @media (max-width: 767px) {
            font-size: 2.6rem;
            line-height: 3.6rem;
        }
    }
}
