// ===================== CHECKBOXES ==================== //
.check-box {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.check-style {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
}

.check-box:checked + .check-style:before {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    //background-image: url(../images/icons/check.svg);
    position: absolute;
    @extend %pos-center-xy;
}

// ===================== RADIO ===================== //
.radio-box {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.radio-style {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    //border: 0.2rem solid ;
}

.radio-box:checked + .radio-style:before {
    @extend %pos-center-xy;
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    //background-color: $accent;
    position: absolute;
}

// input number
input[type='number'] {
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
    -moz-appearance: number-input;
}

.input {
    @extend %vertical-align;
    @extend %text-14;
    @include padding-x(1.6rem);
    width: 100%;
    height: var(--input-height);
    background-color: #fff;
    color: var(--black);

    &--light-blue {
        background-color: var(--light-blue);
    }

    &--small {
        height: var(--arrow-btn);
    }

    &::placeholder {
        color: var(--black);
    }

    &--search {
        background-image: url(../images/icons/search.svg);
        background-size: 2rem;
        background-position: calc(100% - 2.4rem) 50%;
        background-repeat: no-repeat;
    }
}

.form {
    > * {
        &:not(:last-child) {
            margin-bottom: 3.2rem;

            @media (max-width: 767px) {
                margin-bottom: 2.4rem;
            }
        }
    }

    &__title {
        @extend %text-17;
        font-weight: 700;
    }

    &__body {
        display: grid;
        row-gap: 2.4rem;

        @media (max-width: 767px) {
            row-gap: 1.6rem;
        }
    }
}

.form-agree {
    @extend %text-13;
    color: var(--dark-gray);
}

.form-block {
    display: grid;

    @media (max-width: 1024px) {
        row-gap: var(--gap);
    }

    @media (min-width: 1025px) {
        grid-template-columns: 29.6rem 1fr var(--form);
        grid-template-rows: 0.7rem max-content 8rem max-content;
        grid-template-areas:
            '. . form'
            'text . form'
            '. . .'
            'contacts . agree';
    }

    // .free-training-recording__text

    &__text {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }

        @media (min-width: 1025px) {
            grid-area: text;
        }
    }

    &__form {
        display: grid;
        gap: 4rem 3.2rem;

        @media (max-width: 767px) {
            gap: 1.6rem;
        }

        @media (min-width: 1025px) {
            grid-area: form;
        }
    }

    // .free-training-recording__input

    &__input {
        &--name {
            @media (min-width: 768px) {
                grid-area: name;
            }
        }

        &--tel {
            @media (min-width: 768px) {
                grid-area: tel;
            }
        }

        &--email {
            @media(min-width: 768px) {
                grid-area: email;
            }
        }

        &--textarea {
            padding-top: 1.8rem;

            @media(min-width: 768px) {
                grid-area: textarea;
            }
        }
    }

    &__select {
        @media (min-width: 768px) {
            grid-area: select;
        }
    }

    // .free-training-recording__btn

    &__btn {
        @media (min-width: 768px) {
            grid-area: btn;
        }
    }

    // .free-training-recording__contacts

    &__contacts {
        @media (min-width: 1025px) {
            grid-area: contacts;
        }
    }

    &__messangers {
        gap: 3.2rem;

        @media (max-width: 767px) {
            gap: 1.6rem;
        }
    }

    // .free-training-recording__form-agree

    &__form-agree {
        @media (min-width: 1025px) {
            grid-area: agree;
            align-self: center;
        }
    }

    &__contact {
        @media (max-width: 767px) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
}
