// ===================== CHECKBOXES ==================== //
.check-box {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.check-style {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
}

.check-box:checked + .check-style:before {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    //background-image: url(../images/icons/check.svg);
    position: absolute;
    @extend %pos-center-xy;
}

// ===================== RADIO ===================== //
.radio-box {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.radio-style {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    //border: 0.2rem solid ;
}

.radio-box:checked + .radio-style:before {
    @extend %pos-center-xy;
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    //background-color: $accent;
    position: absolute;
}

// input number
input[type='number'] {
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
    -moz-appearance: number-input;
}

.input {
    @extend %vertical-align;
    @extend %text-14;
    width: 100%;
    height: var(--input-height);
    @include padding-x(1.6rem);
    background-color: #fff;
    color: var(--black);

    &--light-blue {
        background-color: var(--light-blue);
    }

    &::placeholder {
        color: var(--black);
    }

    &--search {
        background-image: url(../images/icons/search.svg);
        background-size: 2rem;
        background-position: calc(100% - 2.4rem) 50%;
        background-repeat: no-repeat;
    }
}

.form {
    > * {
        &:not(:last-child) {
            margin-bottom: 3.2rem;
            @media (max-width: 767px) {
                margin-bottom: 2.4rem;
            }
        }
    }

    &__title {
        @extend %text-17;
        font-weight: 700;
    }

    &__body {
        display: grid;
        row-gap: 2.4rem;
        @media (max-width: 767px) {
            row-gap: 1.6rem;
        }
    }
}

.form-agree {
    @extend %text-13;
    color: var(--dark-gray);
}
