.date {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: var(--dark-gray);
}

.views {
    @extend %vertical-align;

    &__icon {
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 2rem;
        height: 2rem;
    }

    &__value {
        @extend %text-13;
        line-height: 2rem;
    }
}
