.map-balloon {
    box-sizing: border-box;
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    left: var(--offset-l) !important;
    @include row-grid(var(--offset-s));
    width: 24rem;
    padding: var(--offset-s);
    background: var(--white);
    box-shadow: var(--shadow);

    @media (max-width: 500px) {
        left: var(--container-padding) !important;
    }

    &::after {
        content: '';
        @include position-center-y;
        left: calc(var(--offset-xxs) * (-1));
        width: var(--offset-xxs);
        height: var(--offset-s);
        background-color: var(--white);
        clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
    }

    &__title {
        @extend %text-14;
        font-weight: 500;
    }

    &__item {
        --icon: 2rem;

        @extend %text-13;
        position: relative;
        padding-left: calc(var(--icon) + var(--offset-xxs));

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: var(--icon);
            height: var(--icon);
            @extend %bg-contain;
        }

        &--address {
            &:before {
                background-image: url(../images/icons/black-pin.svg);
            }
        }

        &--time {
            &:before {
                background-image: url(../images/icons/black-clock.svg);
            }
        }

        &--tel {
            &:before {
                background-image: url(../images/icons/black-phone.svg);
            }
        }
    }
}
