.social {
    $this: &;

    display: flex;
    flex-wrap: wrap;

    // .social__item

    &__item {
        width: var(--offset-xls);
        height: var(--offset-xls);
        background-color: var(--white);
        border: 0.1rem solid var(--dark);
        transition: var(--transition) background-color, var(--transition) border-color;

        svg {
            width: var(--offset-s);
            height: var(--offset-s);

            path {
                transition: var(--transition) all;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    path {
                        fill: var(--white);
                    }
                }

                #{$this}__num {
                    color: var(--white);
                }
            }
        }

        &--style {
            &_bg {
                &-white {
                    background-color: var(--white);
                    border-color: var(--white);
                }
            }
        }
    }

    &__num {
        font-size: 1.1rem;
        line-height: 1;
        color: var(--dark-gray);
        transition: var(--transition) color;
    }

    // .social__item--vk

    &__item--vk {
        svg {
            width: 1.8rem;
            height: 1.1rem;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--vk);
                border-color: var(--vk);
            }
        }
    }

    // .social__link

    &__link {
        @extend %grid-center;
        align-content: center;
        gap: 0.6rem;
        width: 100%;
        height: 100%;
    }

    // .social__item--youtube

    &__item {
        &--youtube {
            svg {
                width: 1.9rem;
                height: 1.3rem;
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: var(--youtube);
                    border-color: var(--youtube);
                }
            }
        }

        &--fb {
            @media (any-hover: hover) {
                &:hover {
                    background-color: var(--fb);
                    border-color: var(--fb);

                    svg path {
                        stroke: var(--white);
                    }
                }
            }
        }

        &--inst {
            @media (any-hover: hover) {
                &:hover {
                    background-color: var(--inst);
                    border-color: var(--inst);
                }
            }
        }
    }

    &--col {
        flex-direction: column;

        #{$this} {
            &__item {
                border-bottom: none;

                &:last-child {
                    border-bottom: 0.1rem solid var(--dark);
                }
            }
        }
    }
}
