.tape-slider {
    $this: &;

    @include padding-y(var(--offset-l));
    // .tape-slider__item

    &__item {
        @extend %flex-col-center;
        text-align: center;
        color: var(--dark-gray);
        position: relative;
        padding-bottom: calc(var(--offset-l) - 0.1rem);
        //white-space: nowrap;
        max-width: 19rem;

        &::after {
            content: '';
            bottom: 0;
            @include position-center-x;
            width: 0%;
            height: 0.6rem;
            background-color: var(--yellow);
        }

        > * {
            &:not(:last-child) {
                margin-bottom: var(--offset-xxxs);
            }
        }

        &.swiper-slide-active {
            color: var(--black);

            &::after {
                width: calc(74 / 66 * 100%);
            }

            b {
                &#{$this} {
                    &__item-day {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    b {
        &#{$this}__item-day {
            font-weight: 500;
        }
    }

    // .tape-slider__item-date

    &__item-date {
        @extend %text-12;
    }
}
