.coach-photos {
    position: relative;

    @media (min-width: 1025px) {
        @include padding-y(12.4rem);

        &:before {
            @include rect(top, left, 0, 0, 100%, var(--yellow));
        }
    }

    &__body {
        @media (max-width: 1024px) {
            grid-column: 1 / -1;
        }
    }

    &__slider {
        width: calc(100vw - var(--gap) * 4);

        @media (max-width: 1024px) {
            width: 100vw;
            padding-bottom: var(--offset-xl);
        }
    }

    &__slider-nav {
        position: absolute;
        left: calc(var(--gap) + 3.4rem);
        bottom: 0;
        width: max-content;

        @media (max-width: 1024px) {
            left: 0;
            width: 100%;
        }
    }
}

.coach-photos-slider {
    .splide {
        // .splide__slide

        &__slide {
            --padding: calc(18rem - 12.4rem);

            @media (min-width: 1025px) {
                opacity: 0;
                transition: 0.3s all;

                /* &.is-prev {
                    margin-right: 0 !important;
                } */

                &.is-active {
                    align-self: start;
                    padding-top: var(--padding);
                    width: var(--gap) !important;
                    height: calc(var(--gap) + var(--padding));
                }

                &.is-next {
                    width: 55.3rem !important;
                    height: 55.3rem;
                }

                &.is-next {
                    & + .splide__slide {
                        align-self: end;
                        padding-bottom: var(--padding);
                        width: var(--gap) !important;
                        height: calc(var(--gap) + var(--padding));
                    }
                }

                &.is-active,
                &.is-next,
                &.is-next + .splide__slide {
                    opacity: 1;
                }
            }

            img {
                @extend %cover;
            }
        }
    }
}
