.calendar-card {
    $this: &;

    position: relative;
    display: grid;
    grid-template-columns: var(--offset-s) 1fr var(--offset-s) calc(var(--arrow-btn) - var(--offset-s));
    grid-template-rows: var(--offset-s) auto 1fr auto 1fr auto;
    grid-template-areas:
        '. . . . .'
        '. top top top .'
        '. . . . .'
        '. middle middle middle .'
        '. . . . .'
        '. coach . arrow arrow'
    ;
    min-height: 17.2rem;
    transition: var(--transition) box-shadow;

    @media (any-hover: hover) {
        &:hover {
            box-shadow: var(--shadow);

            .arrow-btn {
                background-color: var(--yellow);
            }
        }
    }

    // .calendar-card__top

    &__top {
        @extend %flex-row-center;
        grid-area: top;
    }

    // .calendar-card__time

    &__time {
        @extend %text-13;
        font-weight: 500;
    }

    // .calendar-card__category

    &__category {
        display: flex;
        flex-wrap: wrap;
        gap: var(--offset-xxs);
    }

    // .calendar-card__middle

    &__middle {
        @extend %flex-row;
        grid-area: middle;
    }

    &__bottom {
        @extend %flex-row-center;
        grid-area: bottom;
    }

    // .calendar-card__title

    &__title {
        @extend .title;
        @extend %text-14;
        font-weight: 500;
    }

    // .calendar-card__place

    &__place {
        @extend %text-13;
        color: var(--dark-gray);
    }

    // .calendar-card__coach

    &__coach {
        @extend %text-13;
        grid-area: coach;
        align-self: center;
    }

    &__arrow {
        position: static;
        grid-area: arrow;
    }

    &.group {
        background-color: var(--light-blue);
    }

    &.appointment {
        background-color: var(--beige);
    }

    &.children {
        background-color: var(--light-purple);
    }

    &.business-class {
        background-color: var(--black);
    }

    &.business-class,
    &.children {
        color: var(--white);

        #{$this} {
            &__place {
                color: var(--white);
            }
        }
    }
}
