.calendar-card {
    $this: &;

    position: relative;
    transition: 0.3s box-shadow;

    @media (any-hover: hover) {
        &:hover {
            box-shadow: $bsh;

            .arrow-btn {
                background-color: var(--yellow);
            }
        }
    }
    // .calendar-card__inner

    &__inner {
        @extend %flex-col;
        justify-content: space-between;
        min-height: 17.2rem;
        padding: var(--offset-s);
    }

    // .calendar-card__top

    &__top {
        @extend %flex-row-center;
    }

    // .calendar-card__time

    &__time {
        @extend %text-13;
        font-weight: 500;
    }

    // .calendar-card__category

    &__category {
        display: flex;
        margin: calc(var(--offset-xxs) / (-2));

        > * {
            margin: calc(var(--offset-xxs) / 2);
        }
    }

    // .calendar-card__middle

    &__middle {
        @extend %flex-row;
    }

    // .calendar-card__title

    &__title {
        @extend .title;
        @extend %text-14;
        font-weight: 500;
    }

    // .calendar-card__place

    &__place {
        @extend %text-13;
        color: var(--dark-gray);
    }

    // .calendar-card__coach

    &__coach {
        @extend %text-13;
        padding-right: var(--offset-xl);
    }

    &.group {
        background-color: var(--light-blue);
    }

    &.appointment {
        background-color: var(--beige);
    }

    &.children {
        background-color: var(--light-purple);
    }

    &.business-class {
        background-color: var(--black);
    }

    &.business-class,
    &.children {
        color: #fff;

        #{$this} {
            &__place {
                color: #fff;
            }
        }
    }
}
