html {
	box-sizing: border-box;
	font-size: calc(100vw / 1920 * 10);

	@media (max-width: 1024px) {
		font-size: calc(100vw / 768 * 10);
	}

	@media (max-width: 767px) {
		font-size: calc(100vw / 500 * 10);
	}

	@media (max-width: 500px) {
		font-size: calc(100vw / 320 * 10);
	}

	&.disable-fix {
		@media (min-width: 1025px) {
			padding-right: 17px;
		}
	}
}

body {
	min-width: 320px;
	font-style: normal;
	font-family: $ff;
	font-size: rem($fz);
	line-height: 2.2rem;
	font-weight: 400;
	color: $color-default;
	overflow-x: hidden;

	@media (max-width: 767px) {
		font-size: 1.3rem;
		line-height: 1.8rem;
	}

	&._lock {
		overflow-y: hidden;
	}

	&.sticky {
		@media(min-width: 1025px) {
			overflow-x: visible;
		}

		.wrapper {
			@media(min-width: 1025px) {
				overflow-x: visible;
			}
		}
	}
}

address {
	font-style: normal;
}

button,
input,
textarea {
	font-family: $ff;
}

.timetable-page {
	.header {
		$this: &;

		&--dark {
			.header {
				&__logo-img {
					path {
						&:first-child {
							fill: #fff;

							@media (max-width: 1024px) {
								fill: var(--black);
							}
						}
					}
				}
			}

			.logo__text {
				color: rgba(#fff, 0.6);
			}
		}
	}
}

.page {
	position: relative;
	flex: 1 0 auto; // Footer at bottom
}

.container {
	display: grid;
	grid-template-columns: repeat(2, var(--gap)) 1fr repeat(2, var(--gap));

	@media (max-width: 1024px) {
		grid-template-columns: var(--mob-padding) 1fr var(--mob-padding);
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	border: none;

	table & {
		max-width: none;
	}
}
