// Стили для странмицы показа
._progress {
    @extend %flex-center;
    padding-top: calc(var(--header-height) + var(--section-padding));
    padding-bottom: var(--section-padding);
}

._progress__inner {
    columns: 2;

    @media (max-width: 1024px) {
        columns: 1;
    }
}

._progress__link {
    display: block;
    font-size: 1.5vmax;
    margin-bottom: 10px;
    font-weight: 700;
    color: #222;
    transition: opacity var(--transition);

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.5;
        }
    }
}
