.club-vacancies {
    --row-gap: 2.4rem;

    @include padding-y(var(--section-padding));

    &__body {
        @media (max-width: 1024px) {
            display: grid;
            gap: var(--row-gap);
        }
    }

    // .club-vacancies__title

    &__title {
        @media (min-width: 1025px) {
            margin-bottom: var(--offset-xxl);
        }
    }

    // .club-vacancies__slider

    &__slider {
        @media (min-width: 1025px) {
            visibility: visible;
        }

        @media (max-width: 1024px) {
            width: calc(100vw - var(--mob-padding) * 2);
        }
    }

    // .club-vacancies__cards

    &__cards {
        @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4rem;
        }
    }

    // .club-vacancies__slider-nav

    &__slider-nav {
        display: none;

        @media (max-width: 1024px) {
            display: grid;
            margin-top: var(--row-gap);
        }
    }
}
