.messangers {
    display: flex;
}

.messanger {
    @extend %grid-center;
    // .messanger__icon

    &__icon {
        --size: var(--icon-size);

        width: var(--size);
        height: var(--size);
        fill: var(--black);
        transition: var(--transition) fill;

        @media (max-width: 767px) {
            --size: var(--icon-size_sm);
        }

        @media (any-hover: hover) {
            &:hover {
                fill: var(--dark-yellow);
            }
        }
    }
}
