.messangers {
    @extend %grid-row;
}

.messanger {
    @extend %grid-center;
    // .messanger__icon

    &__icon {
        width: var(--offset-m);
        height: var(--offset-m);
        fill: var(--black);
        transition: $transition fill;

        @media (max-width: 767px) {
            width: 2rem;
            height: 2rem;
        }

        @media (any-hover: hover) {
            &:hover {
                fill: var(--dark-yellow);
            }
        }
    }
}
