.messangers {
    @extend %grid-row;
}

.messanger {
    @extend %grid-center;
    // .messanger__icon

    &__icon {
        width: 2.4rem;
        height: 2.4rem;
        @media (max-width: 767px) {
            width: 2rem;
            height: 2rem;
        }
        path {
            transition: 0.3s fill;
        }

        @media (any-hover: hover) {
            &:hover {
                path {
                    fill: var(--dark-yellow);
                }
            }
        }
    }
}
