.coach-reviews {
    --title: 44rem;
    --player: 18.4rem;

    position: relative;

    @media (min-width: 1025px) {
        grid-template-rows: var(--section-padding_xl) max-content var(--section-padding);
    }

    @media (max-width: 1024px) {
        grid-template-rows: var(--offset-l) max-content var(--offset-l);
    }

    @media (min-width: 1025px) {
        &:before {
            @include rect(bottom, right, 0, 0, var(--gap), var(--white));
        }
    }

    // .clients-reviews__bg

    &__bg {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        img {
            @extend %cover;

            @media (max-width: 1024px) {
                object-position: 73%;
            }
        }
    }

    // .clients-reviews__content

    &__content {
        grid-row: 2 / 3;
        display: grid;
        grid-template-rows: max-content 1fr var(--gap) 6rem max-content;
        grid-template-columns: var(--title) 1fr var(--gap) 1fr calc(var(--offset-xxxl) + 38rem);
        grid-template-areas:
            '. . . . rating'
            '. . . . .'
            '. . player . .'
            '. . . . .'
            'title . . . .';

        @media (max-width: 1024px) {
            min-height: 100vh;
            grid-template-columns: 1fr var(--player) 1fr;
            grid-template-rows: max-content 1fr var(--player) 1fr max-content;
            grid-template-areas:
                'title title title'
                '. . .'
                '. player .'
                '. . .'
                'rating rating rating';
        }
    }

    &__rating {
        grid-area: rating;
    }

    // .clients-reviews__title

    &__title {
        color: var(--white);
        grid-area: title;

        @media (max-width: 1024px) {
            text-align: center;
        }
    }

    // .clients-reviews__player

    &__player {
        grid-area: player;
    }
}
