.promo-contacts-end {
    position: relative;

    @media (min-width: 1025px) {
        &:before {
            @include rect(top, right, 0, 0, var(--gap), #fff);
        }
    }

    &__content {
        display: grid;
        gap: var(--offset-xxxl);

        @media (min-width: 1025px) {
            align-self: center;
        }

        @media (max-width: 1024px) {
            @include padding-y(var(--offset-l));
            gap: var(--offset-l);
        }
    }

    // .promo-contacts-end__form

    &__form {
        @media (min-width: 768px) {
            row-gap: var(--offset-m);
            grid-template-rows: repeat(3, var(--input-height));
            grid-template-columns: repeat(3, 1fr);
            //grid-template-columns: repeat(2, 1fr) repeat(2, max-content);
            grid-template-areas:
                'name textarea textarea'
                'tel textarea textarea'
                'email btn btn';
        }
    }

    .form-agree {
        color: #fff;
    }
}
