.estimate {
    @extend %vertical-align;
    // .estimate__btn

    &__btn {
        width: 3.2rem;
        height: 3.2rem;

        svg {
            width: 1.2rem;
            height: 1.4rem;
        }
    }

    // .estimate__value

    &__value {
        @extend %text-14;
        color: var(--green);
        @include padding-x(1.6rem);
    }
}
