.estimate {
    @extend %vertical-align;
    // .estimate__btn

    &__btn {
        width: var(--offset-l);
        height: var(--offset-l);

        svg {
            width: var(--offset-xs);
            height: 1.4rem;
        }
    }

    // .estimate__value

    &__value {
        @extend %text-14;
        color: var(--green);
        @include padding-x(var(--offset-s));
    }
}
