.blog-section {
    position: relative;

    @media (max-width: 1024px) {
        background-color: var(--light-blue);
    }

    @media (min-width: 1025px) {
        &:before {
            @include rect(top, left, 0, var(--gap), 100%, var(--light-blue));
        }

        &:after {
            @include rect(top, right, 0, var(--gap), 100%, var(--light-blue));
        }
    }

    // .blog-section__body

    &__body {
        padding-top: 8rem;

        @media (min-width: 1025px) {
            background-color: var(--light-blue);
            padding-bottom: 9.5rem;
        }

        @media (max-width: 1024px) {
            padding-top: 3.2rem;
        }
    }

    // .blog-section__top

    &__top {
        margin-bottom: 4rem;

        @media (max-width: 767px) {
            margin-bottom: 1.6rem;
        }
    }

    // .blog-section__grid

    &__grid {
        --date: 2.6rem;
        --row-gap: 2.2rem;
        --btn: 4.8rem;

        display: grid;

        @media (max-width: 1024px) {
            row-gap: 1.6rem;
        }

        @media (min-width: 1025px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows:
                var(--date) var(--btn) var(--row-gap) 1fr var(--btn) var(--btn);
            grid-template-areas:
                'slider slider .'
                'slider slider allNews'
                'slider slider .'
                'slider slider success'
                '. . success'
                'moreBtn moreBtn success';
            column-gap: 4rem;
        }
    }

    // .blog-section__slider

    &__slider {
        @media (min-width: 1025px) {
            grid-area: slider;
            visibility: visible;
        }

        @media (max-width: 1024px) {
            width: 100vw;
            margin-left: calc(var(--mob-padding) * (-1));
            display: grid;
            row-gap: 2.4rem;
        }
    }

    &__slider-inner {
        @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
        }
    }

    &__slider-item,
    &__success-item {
        @media (min-width: 1025px) {
            display: none;
            min-height: calc(var(--date) + var(--card-height));
        }
    }

    &__slider-item {
        @media (max-width: 1024px) {
            //width: calc(208 * 100vw / 320);
        }
    }

    // .blog-section__more

    &__more {
        display: none;

        @media (min-width: 1025px) {
            display: block;
            grid-area: moreBtn;
        }
    }

    &__link-btn {
        @media (min-width: 1025px) {
            grid-area: allNews;
        }

        @media (max-width: 1024px) {
            margin-right: var(--mob-padding);
        }
    }

    &__success {
        display: none;

        @media (min-width: 1025px) {
            display: grid;
            gap: var(--btn);
            grid-area: success;
        }
    }

    &__aside-client {
        grid-column: -2 / -1;
        align-self: flex-end;
    }
}

.blog-slider {
    &__slider-nav {
        display: none;

        @media (max-width: 1024px) {
            display: grid;
        }
    }
}

.blog-page {
    padding: 5.6rem 0 6.4rem;
    position: relative;

    @media(min-width: 1025px) {
        &:before {
            @include rect(top, left, -4.8rem, 0, 65.7rem, var(--beige));
        }

        &:after {
            @include rect(bottom, right, 0, 0, 61.7rem, var(--beige));
        }
    }

    // .blog-page__filters

    &__filters {
        display: flex;
        padding-bottom: 1.6rem;
        margin-bottom: 4.8rem;
        border-bottom: 0.1rem solid var(--line-color);
    }

    // .blog-page__filter

    &__filter {
        position: relative;
        @extend %text-14;
        font-weight: 500;
        color: var(--black);

        &:not(:last-child) {
            margin-right: 3.2rem;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -1.6rem;
            left: 0;
            width: 0%;
            height: 0.1rem;
            background-color: var(--black);
        }

        &.active {
            &:after {
                width: 100%;
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;

        &:not(:last-child) {
            margin-bottom: 6.4rem;
        }
    }
}
