.app {
    --phone-w: 25.8rem;
    --img-w: 81.8rem;

    position: relative;
    position: relative;
    display: grid;

    @media (max-width: 1024px) {
        padding: var(--offset-l) var(--mob-padding);
        row-gap: var(--offset-l);
    }

    @media (min-width: 1025px) {
        grid-template-columns: repeat(2, var(--gap)) 34.4rem 23.2rem repeat(2, calc(var(--phone-w) / 2)) 1fr repeat(
                2,
                var(--gap)
            );
        grid-template-rows: var(--section-padding) max-content var(--offset-l) max-content 1fr max-content repeat(
                2,
                var(--offset-xl)
            ) 9.6rem;
        background-color: var(--light-blue);
        background-image: url(../images/decor/yoga-girl.svg);
        background-size: 45.4rem 36.4rem;
        background-position: left bottom;
        background-repeat: no-repeat;

        &:before {
            @include rect(top, left, 0, 0, var(--gap), var(--ocean));
        }

        &:after {
            @include rect(bottom, right, 0, 0, var(--gap), var(--yellow));
        }
    }

    // .app__title

    &__title {
        @extend .title;
        @extend %text-32;

        @media (min-width: 1025px) {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }

        span {
            color: var(--yellow);
        }
    }

    // .app__apps

    &__apps {
        gap: var(--offset-xls);

        @media (max-width: 1024px) {
            gap: var(--offset-l);
        }

        @media (min-width: 1025px) {
            grid-row: 4 / 5;
            grid-column: 3 / 4;
        }
    }

    // .app__content

    &__content {
        @include row-grid(var(--offset-l));

        @media (min-width: 1025px) {
            grid-column: 3 / 4;
            grid-row: -5 / -4;
        }
    }

    // .app__content-title

    &__content-title {
        @extend %text-18;
        font-weight: 700;
    }

    &__phone {
        position: relative;
        z-index: 5;

        @media (max-width: 1024px) {
            width: 19.4rem;
            height: 38.8rem;
            margin: 0 auto;
        }

        @media (min-width: 1025px) {
            grid-row: 2 / -2;
            grid-column: 5 / span 2;
        }

        img {
            @extend %contain;
        }
    }

    // .app__img

    &__img {
        display: none;

        @media (min-width: 1025px) {
            display: block;
            grid-row: 1 / -1;
            grid-column: 6 / -1;
        }

        img {
            @extend %cover;
        }
    }
}
