.free-training-recording {
    --border-width: var(--offset-m);

    @media (max-width: 1024px) {
        --border-width: var(--offset-xs);
    }

    box-sizing: border-box;
    border: var(--border-width) solid var(--yellow);
    @include padding-y(10.4rem);

    @media(min-width: 1025px) {
        background-image: url(../images/elements/free-training-elements.svg);
        background-size: 164.6rem 42.9rem;
        background-position: 50% 12.5rem;
        background-repeat: no-repeat;
    }

    @media (max-width: 1024px) {
        padding: var(--offset-xls) calc(var(--offset-l) - var(--border-width));
    }

    &__container {
        @media (max-width: 1024px) {
            grid-template-columns: unset;
        }
    }

    // .free-training-recording__title

    &__title {
        max-width: 71.5rem;
        margin-bottom: var(--offset-xxxl);

        @media (max-width: 1024px) {
            margin-bottom: var(--offset-l);
        }
    }

    &__form {
        @media (min-width: 768px) {
            grid-template-columns: 32rem 15rem 1fr;
            grid-template-areas:
                'name tel tel'
                'select select btn';
        }
    }
}
