.free-training-recording {
    --form: 67.2rem;
    --border-width: 2.4rem;
    @media (max-width: 1024px) {
        --gap: 3.2rem;
        --border-width: 1.2rem;
    }

    @include padding-y(10.4rem);
    border: var(--border-width) solid var(--yellow);
    background-image: url(../images/elements/free-training-elements.svg);
    background-size: 164.6rem 42.9rem;
    background-position: 50% 12.5rem;
    background-repeat: no-repeat;

    @media (max-width: 1024px) {
        @include padding-y(4rem);
    }

    &__container {
        @media (max-width: 1024px) {
            grid-template-columns: calc(var(--gap) - var(--border-width)) 1fr calc(var(--gap) - var(--border-width));
        }
    }
    // .free-training-recording__container

    &__inner {
        display: grid;
        @media (max-width: 1024px) {
            row-gap: var(--gap);
        }
        @media (min-width: 1025px) {
            grid-template-columns: 29.6rem 1fr var(--form);
            grid-template-rows: 0.7rem max-content 8rem max-content;
            grid-template-areas:
                '. . form'
                'text . form'
                '. . .'
                'contacts . agree';
        }
    }

    // .free-training-recording__title

    &__title {
        max-width: 71.5rem;
        margin-bottom: 6.4rem;
        @media (max-width: 1024px) {
            margin-bottom: 3.2rem;
        }
    }

    // .free-training-recording__text

    &__text {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
        @media (min-width: 1025px) {
            grid-area: text;
        }
    }

    &__form {
        display: grid;
        gap: 4rem 3.2rem;
        @media (max-width: 767px) {
            gap: 1.6rem;
        }
        @media (min-width: 768px) {
            grid-template-columns: 32rem 15rem 1fr;
            grid-template-areas:
                'name tel tel'
                'select select btn';
        }
        @media (min-width: 1025px) {
            grid-area: form;
        }
    }

    // .free-training-recording__input

    &__input {
        &--name {
            @media (min-width: 768px) {
                grid-area: name;
            }
        }

        &--tel {
            @media (min-width: 768px) {
                grid-area: tel;
            }
        }
    }

    &__select {
        @media (min-width: 768px) {
            grid-area: select;
        }
    }

    // .free-training-recording__btn

    &__btn {
        @media (min-width: 768px) {
            grid-area: btn;
        }
    }

    // .free-training-recording__contacts

    &__contacts {
        @media (min-width: 1025px) {
            grid-area: contacts;
        }
    }

    &__messangers {
        gap: 3.2rem;
        @media (max-width: 767px) {
            gap: 1.6rem;
        }
    }

    // .free-training-recording__form-agree

    &__form-agree {
        @media (min-width: 1025px) {
            grid-area: agree;
            align-self: center;
        }
    }

    &__contact {
        @media (max-width: 767px) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
}
