.free-training-recording {
    --border-width: 2.4rem;

    @media (max-width: 1024px) {
        --gap: 3.2rem;
        --border-width: 1.2rem;
    }

    @include padding-y(10.4rem);
    border: var(--border-width) solid var(--yellow);
    background-image: url(../images/elements/free-training-elements.svg);
    background-size: 164.6rem 42.9rem;
    background-position: 50% 12.5rem;
    background-repeat: no-repeat;

    @media (max-width: 1024px) {
        @include padding-y(4rem);
    }

    &__container {
        @media (max-width: 1024px) {
            grid-template-columns: calc(var(--gap) - var(--border-width)) 1fr calc(var(--gap) - var(--border-width));
        }
    }

    // .free-training-recording__title

    &__title {
        max-width: 71.5rem;
        margin-bottom: 6.4rem;

        @media (max-width: 1024px) {
            margin-bottom: 3.2rem;
        }
    }

    &__form {
        @media (min-width: 768px) {
            grid-template-columns: 32rem 15rem 1fr;
            grid-template-areas:
                'name tel tel'
                'select select btn';
        }
    }
}
