// ===================== CHECKBOXES ==================== //
.check-box {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.check-style {
    position: relative;
    width: var(--offset-s);
    height: var(--offset-s);
}

.check-box:checked + .check-style:before {
    content: '';
    width: var(--offset-xxs);
    height: var(--offset-xxs);
    position: absolute;
    @extend %pos-center-xy;
}
