.input {
    @extend %vertical-align;
    @extend %text-14;
    @include padding-x(var(--offset-s));
    height: var(--input-height);
    background-color: var(--white);
    color: var(--black);

    &--style {
        &_bg {
            &-light-blue {
                background-color: var(--light-blue);
            }
        }
    }

    &--size {
        &_s {
            height: var(--arrow-btn);
        }
    }

    &::placeholder {
        color: var(--black);
    }

    &--type {
        &_search {
            background-image: url(../images/icons/search.svg);
            background-size: var(--icon-size_sm);
            background-position: calc(100% - var(--offset-m)) 50%;
            background-repeat: no-repeat;
        }
    }
}

.form-field {
    input {
        width: 100%;
    }
}
