.individual-lessons {
    --slider: 73rem;

    @media(min-width: 1025px) {
        position: relative;
        @include padding-y(var(--section-padding-xl));
    }

    &::before {
        @extend %contain;
        @extend %pos-center-y;

        @media(min-width: 1025px) {
            content: '';
            position: absolute;
            left: 15.3rem;
            width: 138.2rem;
            height: 60rem;
            background-image: url(../images/elements/services.svg);
        }
    }

    @media(min-width: 1025px) {
        background-image: url(../images/decor/abbs.svg);
        background-size: 117rem 32.8rem;
        background-position: left bottom;
        background-repeat: no-repeat;
    }

    // .individual-lessons__inner

    &__inner {
        @media(min-width: 1025px) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        @media(max-width: 1024px) {
            grid-column: 1 / -1;
        }
    }

    // .individual-lessons__title

    &__title {
        @extend %text-20;
        @extend .title;
        display: none;

        @media(min-width: 1025px) {
            display: block;
            position: relative;
            padding-top: var(--offset-l);
            max-width: 28rem;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: var(--section-padding);
                height: 0.2rem;
                background-color: var(--yellow);
            }
        }
    }

    // .individual-lessons__slider

    &__slider {
        width: var(--slider);

        @media(max-width: 1024px) {
            width: 100vw;
            padding-bottom: var(--arrow-btn);
        }

        .splide {
            &__track {
                @media(min-width: 1025px) {
                    overflow: visible;
                }
            }

            &__slide {
                &.is-prev {
                    @media(min-width: 1025px) {
                        opacity: 0;
                    }
                }
            }
        }
    }

    &__slider-nav {
        position: absolute;
        bottom: 0;
        left: calc((100vw - var(--gap) * 2) - var(--slider) * (-1));

        @media(max-width: 1024px) {
            left: 0;
            right: 0;
        }
    }
}
