.promo-clubs {
    --map-height: 55.2rem;

    &__grid {
        @media (min-width: 1025px) {
            grid-template-rows: var(--header-height) calc(var(--gap) - var(--header-height)) calc(var(--map-height) - (var(--gap) - var(--header-height)));
        }
    }

    &__content {
        position: relative;
        grid-column: 1 / -2;

        @media (max-width: 1024px) {
            padding-top: var(--header-height);
            grid-column: 1 / -1;
        }

        @media (min-width: 1025px) {
            grid-row: 2 / -1;
        }
    }

    // .promo-clubs__map

    &__map {
        height: 100%;

        @media (max-width: 1024px) {
            height: 45rem;
        }
    }

    // .promo-clubs__select

    &__select {
        display: none;

        @media (min-width: 1025px) {
            position: absolute;
            top: 6.5rem;
            left: calc(var(--gap) * 2);
            width: var(--select);
            box-shadow: var(--shadow);
        }

        @media (max-width: 1024px) {
            border: var(--border-black);
        }
    }

    // .promo-clubs__aside-img

    &__aside-img {
        display: none;

        @media (min-width: 1025px) {
            display: block;
            grid-column: -2 / -1;
            grid-row: 1 / span 2;
        }
    }

    // .promo-clubs__decor-title

    &__decor-title {
        display: none;

        @media (min-width: 1025px) {
            display: flex;
            grid-column: -2 / -1;
            grid-row: -2 / -1;
        }
    }
}

.clubs-page {
    position: relative;

    @media (min-width: 1025px) {
        &:before {
            @include rect(top, right, 0, 0, 48.5rem, var(--beige));
        }

        &:after {
            @include rect(bottom, right, 0, 0, 47.2rem, var(--yellow));
        }
    }

    // .clubs-page__content

    &__content {
        position: relative;
        padding: var(--offset-xxxl) 0 var(--section-padding);

        @media (max-width: 767px) {
            padding: var(--offset-m) 0 var(--offset-l);
        }

        &:before {
            @include rect(bottom, left, 0, calc(var(--gap) * (-2)), 100%, var(--light-blue));
            z-index: -1;
        }
    }

    // .clubs-page__title

    &__title {
        display: none;
        margin-bottom: 5.5rem;

        @media (min-width: 1025px) {
            display: block;
        }
    }

    // .clubs-page__inner

    &__inner {
        @media (min-width: 1025px) {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }
    }

    &__regions {
        @media (min-width: 1025px) {
            width: calc((864 + 78) / 1112 * 100%);
            padding-left: 7.8rem;
            margin-left: auto;
        }
    }

    // .clubs-page__nav

    &__nav {
        display: none;

        @media (min-width: 1025px) {
            @include sticky(var(--offset-sm));
            @include row-grid(var(--offset-m));
            width: max-content;
            min-width: max-content;
            margin-right: auto;
        }
    }

    // .clubs-page__nav-title

    &__nav-title {
        @extend %text-14;
        color: var(--dark-gray);
    }

    // .clubs-page__nav-btns

    &__nav-btns {
        @include row-grid(var(--offset-m));
    }

    // .clubs-page__nav-btn

    &__nav-btn {
        @extend %vertical-align;
        @extend .title;
        @extend %text-12;
        font-weight: 500;
        color: var(--dark-gray);
        transition: var(--transition) color;

        @media (any-hover: hover) {
            &:hover {
                color: var(--black);
            }
        }

        span {
            margin-right: 1.7rem;
            padding: 0.1rem var(--offset-xxs);
            background-color: var(--light-blue);
            border-radius: var(--offset-m);
        }

        &.active {
            color: var(--black);

            span {
                background-color: var(--black);
                color: var(--white);
            }
        }
    }

    // .clubs-page__region

    &__region {
        @include padding-y(4rem);

        &:not(:last-child) {
            border-bottom: var(--border-black);
        }

        &:first-child {
            @media (max-width: 1024px) {
                padding-top: 0;
            }

            @media (min-width: 1025px) {
                border-top: var(--border-black);
            }
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__aside-client {
        display: none;

        @media (min-width: 1025px) {
            @include sticky(0);
            display: block;
        }
    }
}

.region {
    // .region__title

    &__title {
        @extend .title;
        @extend %text-20;
        margin-bottom: 3.4rem;
    }

    // .region__items

    &__items {
        display: grid;
        gap: 6rem var(--offset-m);

        @media (max-width: 1024px) {
            row-gap: var(--offset-l);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1025px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
