.workout-card {
    $this: &;

    background-color: #fff;
    border: var(--offset-xxs) solid var(--pink);
    border-radius: $brs;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__content {
        @extend %flex-col;
        padding: var(--offset-l) var(--offset-xls);

        > * {
            &:not(:last-child) {
                margin-bottom: var(--offset-l);

                @media (max-width: 767px) {
                    margin-bottom: var(--offset-s);
                }
            }
        }
    }

    // .children-section__top

    &__top {
        @extend %flex-row-center;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;

            > * {
                &:not(:last-child) {
                    margin-bottom: var(--offset-s);
                }
            }
        }
    }

    // .children-section__title

    &__title {
        @extend %text-20;

        @media (max-width: 767px) {
            max-width: 50%;
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
    }

    // .children-section__years

    &__years {
        position: relative;
        padding-left: var(--offset-xls);
        @extend %text-17;
        color: var(--dark-gray);

        @media (max-width: 767px) {
            font-size: 1.5rem;
            line-height: 2.2rem;
        }

        &::before {
            content: '';
            position: absolute;
            @extend %pos-center-y;
            left: 0rem;
            width: var(--offset-l);
            height: var(--offset-l);
            background-image: url(../images/icons/ico-kid.svg);
            @extend %bg-contain;
        }
    }

    // .children-section__text

    &__text {
        color: var(--dark-gray);
        flex-grow: 1;

        p {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    // .children-section__img

    &__img {
        display: none;

        @media (min-width: 1025px) {
            display: block;
        }

        img {
            @extend %cover;

            @media (min-width: 1025px) {
                border-radius: 0 $brs $brs 0;
            }
        }
    }

    // .children-section__instructor

    &__instructor {
        &:not(:last-child) {
            @media (min-width: 1025px) {
                margin-bottom: var(--offset-xl);
            }
        }
    }

    // .children-section__btn

    &__btn {
        @include padding-x(2.8rem);

        @media (min-width: 1025px) {
            margin-top: auto;
        }
    }

    &--style {
        &_bg {
            &-light-blue {
                background-color: var(--light-blue);

                .label {
                    background-color: #fff;
                }

                #{$this} {
                    &__btn {
                        @media (min-width: 1025px) {
                            align-self: end;
                        }
                    }

                    &__content {
                        @media (max-width: 1024px) {
                            width: 100vw;
                            padding: var(--offset-m) var(--mob-padding);
                        }
                    }
                }
            }
        }
    }

    &--without-brs {
        border: none;
        border-radius: 0;

        #{$this} {
            &__img {
                img {
                    @media (min-width: 1025px) {
                        border-radius: 0;
                    }
                }
            }

            &__btn {
                border-radius: 0;
            }
        }
    }

    &--grid {
        grid-template-columns: var(--offset-xls) 1fr var(--offset-xls) 50%;

        @media (max-width: 1024px) {
            grid-template-columns: calc(var(--offset-m) - var(--offset-xxs)) 1fr calc(var(--offset-m) - var(--offset-xxs));
            row-gap: var(--offset-m);
            padding: var(--offset-m) 0 var(--offset-l);
        }

        @media (min-width: 1025px) {
            grid-template-rows:
                var(--offset-xls) max-content var(--offset-l) 1fr var(--offset-l) max-content 5.7rem max-content var(--offset-xl) max-content var(--offset-l);
            grid-template-areas:
                '. . . img'
                '. top . img'
                '. . . img'
                '. text . img'
                '. . . img'
                '. timetable . img'
                '. . . img'
                '. instructor . img'
                '. . . img'
                '. btn . img'
                '. . . img';
        }

        > * {
            @media (max-width: 1024px) {
                grid-column: 2 / 3;
            }
        }

        #{$this} {
            &__top {
                @media (min-width: 1025px) {
                    grid-area: top;
                }
            }

            &__text {
                @media (min-width: 1025px) {
                    grid-area: text;
                }
            }

            // .children-section__timetable

            &__timetable {
                @media (min-width: 1025px) {
                    grid-area: timetable;
                }
            }

            // .children-section__img

            &__img {
                @media (min-width: 1025px) {
                    grid-area: img;
                }

                @media (max-width: 1024px) {
                    grid-column: 1 / -1;
                }
            }

            // .children-section__instructor

            &__instructor {
                &:not(:last-child) {
                    margin-bottom: 0;
                }

                @media (min-width: 1025px) {
                    grid-area: instructor;
                }
            }

            // .children-section__btn

            &__btn {
                @media (min-width: 1025px) {
                    grid-area: btn;
                }
            }
        }
    }
}

.workout-timetable {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 4rem;

    @media(max-width: 1024px) {
        gap: var(--offset-s) var(--offset-l);
    }

    // .training-timetable__item

    &__item {
        @include row-grid(var(--offset-xxs));
        justify-items: start;
    }

    // .training-timetable__item-day

    &__item-day {
        @extend %text-14;
        font-weight: 500;
    }
}
