.arrow-btn {
	@extend %grid-center;
	position: absolute;
	right: 0;
	bottom: 0;
	width: var(--arrow-btn);
	height: var(--arrow-btn);
	background-color: var(--yellow);
	transition: var(--transition) background-color;

	&.full-link {
		position: static;
	}

	// .arrow-btn__svg

	&__svg {
		width: var(--icon-size);
		height: var(--icon-size);
		fill: var(--black);

		@media (max-width: 767px) {
			width: var(--icon-size_s);
			height: var(--icon-size_s);
		}
	}

	&--style {
		&_bg {
			&-white {
				background-color: var(--white);
			}

			&-light-blue {
				background-color: var(--light-blue);
			}
		}
	}

	&--size {
		&_l {
			width: var(--icon-size_l);
			height: var(--icon-size_l);
		}
	}
}
