.club-services-more {
    position: relative;

    @media(min-width: 1025px) {
        @include padding-y(var(--section-padding-xl));
        background-image: url(../images/elements/services-more.svg);
        background-size: 155.2rem 45.5rem;
        background-position: calc(100% - var(--section-padding)) var(--offset-xxl);
        background-repeat: no-repeat;

        &:before {
            @include rect(bottom, right, 0, 0, 28.8rem, var(--ocean));
        }
    }

    // .club-services-more__title

    &__title {
        @extend %text-20;
        @extend .title;
        max-width: 30.4rem;

        @media(min-width: 1025px) {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }

        @media(max-width: 1024px) {
            margin-bottom: var(--offset-m);
        }
    }

    &__body {
        @media(max-width: 1024px) {
            grid-column: 1 / -1;
        }
    }

    &__slider {
        @media(max-width: 1024px) {
            width: 100vw;
            padding-bottom: calc(var(--arrow-btn) + var(--offset-m));
        }
    }

    &__slider-nav {
        position: absolute;
        bottom: 0;
        left: 0;

        @media(max-width: 1024px) {
            right: 0;
        }
    }
}

.club-service-more {
    @include row-grid(var(--offset-l));
    align-content: start;
    justify-items: start;

    @media(max-width: 767px) {
        row-gap: var(--offset-s);
    }

    // .club-service-more__img

    &__img {
        width: 100%;
        height: 28rem;

        @media(max-width: 500px) {
            height: 20.8rem;
        }

        img {
            @extend %cover;
        }
    }

    &__content {
        @media(max-width: 1024px) {
            @include padding-x(var(--mob-padding));
        }
    }

    // .club-service-more__title

    &__title {
        @extend %text-17;
        font-weight: 700;
        color: #000;

        @media(max-width: 767px) {
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }

    &.splide__slide {
        @media(min-width: 1025px) {
            transition: .3s padding-top;

            &.is-next {
                padding-top: calc(8.4rem + var(--offset-xxl));
            }
        }
    }
}
