.info-workout-popup {
    --gap: var(--offset-xl);

    padding-top: var(--offset-xl);

    @media (max-width: 767px) {
        padding-top: var(--offset-s);
    }

    &__inner {
        height: 100%;
        display: grid;
        grid-template-columns: var(--gap) 1fr var(--gap);
        align-content: start;
        overflow-x: hidden;
        overflow-y: auto;

        @media (max-width: 1024px) {
            grid-template-columns: var(--container-padding) 1fr var(--container-padding);
        }

        @media (min-width: 1025px) {
            grid-template-rows:
                max-content 2rem max-content var(--offset-l) max-content var(--offset-xls) max-content minmax(
                    var(--offset-xls),
                    1fr
                )
                max-content;
            grid-template-areas:
                '. head .'
                '. . .'
                '. text .'
                '. . .'
                'form form form'
                '. . .'
                '. coaches .'
                '. . .'
                'video video video';
        }

        @media (max-width: 1024px) {
            row-gap: var(--offset-m);
        }

        > * {
            @media (max-width: 1024px) {
                grid-column: 2 / -2;
            }
        }

        &::-webkit-scrollbar {
            width: 0.8rem;
            background-color: var(--white);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--black);
        }
    }

    // .info-workout-popup__head

    &__head {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        @media (min-width: 1025px) {
            grid-area: head;
        }

        > * {
            &:not(:last-child) {
                @media (min-width: 768px) {
                    margin-right: 3.2rem;
                }

                @media (max-width: 767px) {
                    margin-bottom: calc(var(--offset-xxs) / 2);
                }
            }
        }
    }

    // .info-workout-popup__title

    &__title {
        @extend %text-26;
    }

    // .info-workout-popup__club

    &__club {
        @extend %text-17;

        @media (max-width: 767px) {
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
    }

    // .info-workout-popup__text

    &__text {
        @media (min-width: 1025px) {
            grid-area: text;
        }
    }

    // .info-workout-popup__btn

    &__btn {
        grid-column: 2 / 3;
    }

    &__form-wrap {
        display: grid;
        grid-template-columns: var(--gap) 1fr var(--gap);

        @media (max-width: 1024px) {
            grid-template-columns: var(--container-padding) 1fr var(--container-padding);
        }

        @media (min-width: 1025px) {
            grid-area: form;
        }
    }

    &__form {
        grid-column: 1 / -1;
        display: none;
    }

    &__form-wrap,
    &__video {
        @media (max-width: 1024px) {
            grid-column: 1 / -1;
        }
    }

    // .info-workout-popup__form

    &__form-inner {
        display: grid;
        gap: var(--offset-m) var(--offset-l);
        background-color: var(--yellow);
        padding: var(--offset-l) var(--offset-xl);

        @media (max-width: 1024px) {
            @include padding-x(var(--container-padding));
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                'name tel'
                'btn btn';
        }
    }

    // .info-workout-popup__coaches

    &__coaches {
        @include row-grid(var(--offset-xls));
        position: relative;

        @media (max-width: 767px) {
            row-gap: var(--offset-m);
        }

        @media (min-width: 1025px) {
            grid-area: coaches;
        }

        &::before {
            @extend %bg-contain;

            @media (min-width: 1025px) {
                content: '';
                position: absolute;
                top: 3rem;
                right: -7.9rem;
                width: 45.4rem;
                height: 36.4rem;
                background-image: url(../images/decor/yoga-girl.svg);
            }
        }
    }

    // .info-workout-popup__coach

    &__coach {
        @include row-grid(var(--offset-m));

        @media (max-width: 767px) {
            row-gap: var(--offset-s);
        }
    }

    // .info-workout-popup__video

    &__video {
        @media (min-width: 1025px) {
            grid-area: video;
        }
    }
}
