.coach-goals {
    position: relative;

    @media (min-width: 1025px) {
        &:before {
            @include rect(top, right, 0, 0, 100%, var(--beige));
        }
    }

    &__timetable {
        @media (max-width: 1024px) {
            grid-column: 1 / -1;
        }
    }

    // .coach-goals__main

    &__main {
        @extend %flex-col-center;
        @include padding-y(var(--section-padding));
        text-align: center;
        position: relative;

        &::before {
            content: '';
            @include position-center-xy;
            width: 119.2rem;
            height: 55rem;
            background-image: url(../images/elements/coach-goals.svg);
            @extend %bg-contain;
        }

        @media (max-width: 767px) {
            @include padding-y(var(--offset-l));
        }
    }

    // .coach-goals__top

    &__top {
        @extend %flex-col-center;
        position: relative;
        padding-bottom: var(--offset-m);

        &:not(:last-child) {
            margin-bottom: 2.8rem;
        }

        &::after {
            content: '';
            @include position-center-x;
            bottom: 0;
            width: 8rem;
            height: 0.2rem;
            background-color: var(--yellow);
        }
    }

    // .coach-goals__avatar

    &__avatar {
        width: 7.2rem;
        height: 7.2rem;
        margin-bottom: var(--offset-l);

        @media (max-width: 767px) {
            width: var(--icon-size_xxl);
            height: var(--icon-size_xxl);
            margin-bottom: var(--offset-s);
        }
    }

    // .coach-goals__descr

    &__descr {
        @media (max-width: 767px) {
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
    }

    // .coach-goals__title

    &__title {
        max-width: 56rem;

        &:not(:last-child) {
            margin-bottom: var(--section-padding_xl);

            @media (max-width: 1024px) {
                margin-bottom: 5.3rem;
            }
        }
    }

    &__slider {
        width: calc(100vw - var(--gap) * 4);

        @media (max-width: 1024px) {
            width: 100vw;
            padding-bottom: var(--nav);
        }
    }
}
