.promo-blog {
    --bottom-offset: var(--offset-xl);
    --article: 72.8rem;

    position: relative;
    background-color: var(--yellow);

    @media (max-width: 1024px) {
        padding: calc(var(--header-height) + var(--offset-m)) 0 var(--offset-l);
    }

    @media (max-width: 767px) {
        padding-bottom: var(--offset-s);
    }

    @media (min-width: 1025px) {
        background-image: url(../images/elements/promo-blog.svg);
        background-position: 10.6rem 50%;
        background-size: 161.4rem 35.6rem;
        background-repeat: no-repeat;

        &:before {
            @include rect(bottom, left, 0, 0, var(--gap), #fff);
        }

        &:after {
            @include rect(bottom, left, 0, var(--gap), var(--bottom-offset), #fff);
            width: 100%;
        }
    }

    // .promo-blog__grid

    &__grid {
        @media (min-width: 1025px) {
            grid-template-rows: var(--gap) 1fr;
        }
    }

    // .promo-blog__content

    &__content {
        display: grid;
        gap: 0 var(--section-padding-xl);

        @media (max-width: 1024px) {
            gap: var(--offset-m);
        }

        @media (min-width: 1025px) {
            padding-top: calc(var(--header-height) + var(--offset-l));
            grid-row: 1 / -1;
            grid-template-areas:
                'title article'
                '. article'
                'text article'
                '. article';
            grid-template-rows: max-content 1fr max-content 1fr;
            grid-template-columns: 1fr var(--article);
        }
    }

    // .promo-blog__title

    &__title {
        @media (min-width: 1025px) {
            grid-area: title;
        }
    }

    // .promo-blog__text

    &__text {
        @media (min-width: 1025px) {
            grid-area: text;
        }
    }

    &__article {
        display: none;

        @media (min-width: 1025px) {
            display: block;
            position: relative;
            z-index: 10;
            grid-area: article;
        }
    }

    // .promo-blog__aside-img

    &__aside-img {
        display: none;

        @media (min-width: 1025px) {
            display: block;
            position: relative;
            z-index: 25;
            grid-column: -2 / -1;
            grid-row: 1 / 2;
        }

        img {
            @extend %cover;
        }
    }

    // .promo-blog__marquee

    &__marquee {
        display: none;

        @media (min-width: 1025px) {
            display: block;
            grid-area: unset;
            position: absolute;
            top: 0;
            right: 7.7rem;
        }
    }
}
