.burger-btn {
    display: none;

    @media (max-width: 1024px) {
        cursor: pointer;
        width: var(--header-height);
        height: var(--header-height);
        background-color: var(--white);
        border: var(--border);
        display: grid;
        place-items: center;
        align-content: center;
        transition: var(--transition) background-color, var(--transition) border-color;
    }

    .js {
        &-close {
            opacity: 0;
            transform: translateX(1rem);
            transition: var(--transition) transform, var(--transition) opacity;
        }

        &-open {
            transition: var(--transition) opacity;
        }

        &-close,
        &-open {
            grid-row: 1 / -1;
            grid-column: 1 / -1;
        }
    }

    &[aria-expanded="true"] {
        background-color: var(--light-blue);
        border-color: var(--light-blue);

        .js {
            &-open {
                opacity: 0;
            }

            &-close {
                opacity: 1;
                transform: rotate(180deg);
            }
        }
    }
}

.burger-menu {
    display: none;

    @media (max-width: 1024px) {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        z-index: 101;
        width: 100%;
        height: calc(100% - var(--header-height));
        padding-bottom: var(--offset-xxl);
        background-color: var(--white);
        transition: 0.5s right;
        overflow: auto;
        @include row-grid(var(--offset-m));
        grid-template-columns: var(--container-padding) 1fr var(--container-padding);
        grid-template-rows: repeat(3, max-content) 1fr max-content;
        grid-template-areas:
            'menu menu menu'
            '. contacts .'
            '. soc .'
            '. . .'
            '. apps .';
    }

    &.active {
        @media (max-width: 1024px) {
            right: 0;
        }
    }

    &__close {
        position: absolute;
        right: 0;
        top: calc(var(--header-height) * (-1));
        width: var(--header-height);
        height: var(--header-height);
        background-color: var(--light-blue);
        @extend %grid-center;
    }

    &__menus {
        grid-area: menu;
    }

    &__contacts {
        grid-area: contacts;
    }

    &__social {
        grid-area: soc;
        gap: var(--offset-s);
    }

    &__apps {
        grid-area: apps;
        column-gap: var(--container-padding);

        @media (min-width: 768px) {
            grid-auto-columns: 14.2rem;
            grid-auto-flow: column;
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
