.success-stories-section {
    position: relative;
    background-color: var(--black);
    color: var(--white);

    @media (min-width: 1025px) {
        &:before {
            @include rect(top, left, 0, 0, 15.7rem, var(--yellow));
        }
    }

    @media (max-width: 1024px) {
        padding-top: var(--offset-l);
    }

    @media (max-width: 767px) {
        padding-top: var(--offset-m);
    }

    // .success-stories__grid

    &__grid {
        @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: repeat(2, var(--gap)) 1fr 48rem;
            grid-template-rows: 7.2rem max-content 3.1rem max-content;
            grid-template-areas:
                '. . . form'
                '. . top form'
                '. . . form'
                'slider slider slider form';
        }
    }

    // .success-stories__top

    &__top {
        @media (min-width: 1025px) {
            grid-area: top;
        }

        @media (max-width: 1024px) {
            margin-bottom: 2rem;
            @include padding-x(var(--container-padding));
        }

        > * {
            &:not(:last-child) {
                margin-bottom: 0.6rem;

                @media (max-width: 767px) {
                    margin-bottom: 0.4rem;
                }
            }
        }
    }

    // .success-stories__suptitle

    &__suptitle {
        span {
            opacity: 0.7;

            span {
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }

    // .success-stories__title

    &__title {
        span {
            @include border-text(var(--white), transparent);
        }
    }

    // .success-stories__slider

    &__slider {
        @media (min-width: 1025px) {
            grid-area: slider;
        }

        @media (max-width: 1024px) {
            width: 100%;
            padding-bottom: var(--offset-xl);
        }
    }

    &__slider-nav {
        position: absolute;
        right: -7.5rem;

        @media (min-width: 1025px) {
            top: -4.6rem - 5.6rem;
        }

        @media (max-width: 1024px) {
            bottom: 0;
            left: 0;
            right: 0;
            background-color: var(--light-blue);
            color: var(--black);

            .slider-nav {
                &__arrow {
                    svg {
                        path {
                            fill: var(--black);
                        }
                    }
                }

                &__progress-bar {
                    background-color: var(--black);
                }
            }
        }
    }

    // .success-stories__form

    &__form {
        display: none;

        @media (min-width: 1025px) {
            grid-area: form;
            display: grid;
            justify-items: center;
            align-items: flex-end;
            padding-bottom: 7.2rem;
            border-left: 0.1rem solid rgba(var(--color-white-rgb), 0.1);
            position: relative;
        }

        &::before {
            @extend %bg-contain;
        }

        @media (min-width: 1025px) {
            &::before {
                content: '';
                z-index: 1;
                top: 4.3rem;
                width: 47.9rem;
                height: 62.9rem;
                background-image: url(../images/decor/success-lifter.svg);
            }
        }
    }

    // .success-stories__form-inner

    &__form-inner {
        position: relative;
        z-index: 2;
        @extend %flex-col-center;
        max-width: 32rem;
    }

    // .success-stories__form-title

    &__form-title {
        @extend %text-20;
        text-align: center;
        margin-bottom: 10.8rem;

        span {
            display: block;
        }
    }

    // .success-stories__form-body

    &__form-body {
        width: 32rem;
        @include row-grid(var(--offset-l));
    }

    // .success-stories__form-input

    &__form-input {
        width: 100%;
    }

    // .success-stories__form-btn

    &__form-btn {
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    // .success-stories__form-agree

    &__form-agree {
        color: rgba(var(--color-white-rgb), 0.7);
    }
}
