.timetable-calendar {
    position: relative;

    @media (min-width: 1025px) {
        &:before {
            @include rect(top, left, 10.6rem, 0, 100%, var(--beige));
        }
    }

    @media (max-width: 767px) {
        grid-template-columns: unset;
    }

    &__select {
        display: none;
        grid-column: 1 / -1;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &__selects {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__tape {
        display: flex;
        justify-content: center;
        background-color: var(--white);
        border: var(--border);
        grid-column: 1 / -1;

        .swiper-button {

            &-prev,
            &-next {
                position: static;
                width: 2rem;
                height: 2rem;

                svg {
                    flex-shrink: 0;
                    width: 2rem;
                    height: 2rem;
                    transition: var(--transition) fill;
                }
            }

            @media (any-hover: hover) {
                &:hover {
                    svg {
                        fill: var(--yellow);
                    }
                }
            }

            &-prev {
                margin-right: 7rem;
            }

            &-next {
                margin-left: 7rem;
            }
        }
    }

    &__tape-inner {
        display: none;

        @media (min-width: 1025px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100vw - var(--gap) * 4);
        }
    }

    // .timetable-calendar__body

    &__body {
        padding: var(--offset-xl) 0 var(--section-padding);
        @include row-grid(var(--offset-xls));

        @media (max-width: 1024px) {
            padding: var(--offset-xxs) 0 var(--offset-l);
        }

        @media (max-width: 767px) {
            grid-column: unset;
        }
    }
}

.calendar-item {
    @media (min-width: 1025px) {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: max-content 1fr;
        align-items: flex-start;
    }

    &__date {
        display: none;

        @media (min-width: 1025px) {
            @include row-grid(1.5rem);
            min-width: 8.9rem;
        }
    }

    // .calendar-item__cards

    &__cards {
        display: grid;
        gap: var(--offset-m);

        @media (max-width: 767px) {
            gap: var(--offset-xxs);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1025px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.calendar-date {
    // .calendar-date__num

    &__num {
        @extend .title;
        @extend %text-20;
    }

    // .calendar-date__day

    &__day {
        @extend %text-13;
        color: var(--dark-gray);
    }
}
