:root {
    --yellow: #ffcc48;
    --dark-yellow: #efba31;
    --hover-yellow: #ffd873;
    --ocean: #0ab3ca;
    --black: #020818;
    --dark: #131414;
    --dark-gray: #4d5560;
    --gray-second: #535353;
    --gray: #95a0af;
    --light-gray: #d7dded;
    --green: #43a141;
    --red: #e73656;
    --line-color: #ddd;
    --purple: #9b36cb;
    --light-purple: #cb7ad9;
    --pink: #e677f8;
    --beige: #fff5da;
    --light-blue: #ecf1ff;
    --vk: #007fef;
    --youtube: #ff031b;
    --fb: #006ceb;
    --inst: #008af0;

    --mob-padding: 1.2rem;
    --gap: 20rem;
    --container: calc(100vw - var(--gap) * 4);
    --header-height: 9.6rem;
    --arrow-btn: 4.8rem;
    --circle-text: 22rem;
    --half-circle: calc(var(--circle-text) / 2);
    --marquee-padding: 4.9rem;
    --input-height: 5.6rem;
    --select-height-xl: 7.2rem;
    --section-mh: 80rem;
    --section-padding: 8rem;
    --section-padding-xl: 8.8rem;
    --nav: 5.6rem;
    --card-height: 44rem;
    --team-card-h: 41.6rem;
    --rating: 11.1rem;
    --figcaption--mh: 3.4rem;
    --form: 67.2rem;
    --select: 34.4rem;
    --progressbar: 0.6rem;

    // offsets (gaps)
    --offset-xxxl: 6.4rem;
    --offset-xxl: 5.6rem;
    --offset-xls: 4rem;
    --offset-xl: var(--arrow-btn);
    --offset-l: 3.2rem;
    --offset-m: 2.4rem;
    --offset-s: 1.6rem;
    --offset-xs: var(--mob-padding);
    --offset-xxs: 0.8rem;

    @media (max-width: 1024px) {
        --header-height: 4.8rem;
        --input-height: 4.8rem;
        --nav: 4.8rem;
        --marquee-padding: var(--offset-l);
    }

    @media (max-width: 767px) {
        --rating: var(--section-padding);
        //--card-height: 29.6rem;
        --card-height: 36rem;
        --arrow-btn: 4rem;
        --team-card-h: 29.6rem;
    }
}

$fz: 15;
$ff: 'Gotham Pro', sans-serif;
$color-default: var(--black);
$bsh: 0 var(--offset-xxs) var(--offset-m) rgba(0, 0, 0, 0.2);
$tsh: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.16);
$brs: var(--offset-l);
$border: 0.1rem solid var(--line-color);

%text-10 {
    font-size: rem(10);
    line-height: 1.4rem;
    letter-spacing: 0.1em;
}

%text-11 {
    font-size: rem(11);
    line-height: 1.6rem;
    letter-spacing: 0.1em;
}

// Typography
%text-12 {
    font-size: rem(12);
    line-height: rem(17);
}

%text-13 {
    font-size: rem(13);
    line-height: rem(18);
}

%text-14 {
    font-size: rem(14);
    line-height: rem(20);
}

%text-15 {
    font-size: rem(15);
    line-height: rem(22);
}

%text-16 {
    font-size: rem(16);
    line-height: rem(24);
}

%text-17 {
    font-size: rem(17);
    line-height: rem(26);
}

%text-18 {
    font-size: rem(18);
    line-height: rem(21);
}

%text-20 {
    font-size: rem(20);
    line-height: rem(28);
}

%text-24 {
    font-size: rem(24);
    line-height: rem(29);
}

%text-26 {
    font-size: rem(26);
    line-height: rem(36);
}

%text-27 {
    font-size: rem(27);
    line-height: rem(39);
}

%text-28 {
    font-size: rem(28);
    line-height: rem(39);
}

%text-30 {
    font-size: rem(30);
    line-height: rem(40);
}

%text-32 {
    font-size: rem(32);
    line-height: rem(45);

    @media (max-width: 1024px) {
        font-size: rem(20);
        line-height: rem(28);
    }

    /* @media(max-width: 767px) {
        font-size: 1.6rem;
        line-height: 2.2rem;
    } */
}

%text-36 {
    font-size: rem(36);
    line-height: rem(44);
}

%text-38 {
    font-size: rem(38);
    line-height: rem(53);

    @media (max-width: 1024px) {
        font-size: 3.2rem;
        line-height: 4.5rem;
    }

    @media (max-width: 767px) {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}

%text-42 {
    font-size: rem(42);
    line-height: rem(56);
}

%text-48 {
    font-size: rem(48);
    line-height: rem(46);
}

%text-64 {
    font-size: rem(64);
    line-height: rem(72);
}

%grid-center {
    display: grid;
    place-items: center;
}

%grid-row {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
}

// flex
%vertical-align {
    display: flex;
    align-items: center;
}

%flex-center {
    @extend %vertical-align;
    justify-content: center;
}

%flex-row {
    display: flex;
    justify-content: space-between;
}

%flex-row-center {
    @extend %flex-row;
    align-items: center;
}

%flex-col {
    display: flex;
    flex-direction: column;
}

%flex-col-center {
    @extend %flex-col;
    align-items: center;
}

// positioning
%pos-center-x {
    left: 50%;
    transform: translateX(-50%);
}

%pos-center-y {
    top: 50%;
    transform: translateY(-50%);
}

%pos-center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// background
%cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

%contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

%bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

%bg-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
