.sale {
	--slider-height: 80rem;
	--slider-offset: 9.5rem;
	--slider-content: 53.6rem;
	--decor-dots: 23.4rem;
	--decor-dots-pos: var(--offset-xxl);

	//min-height: 80rem;
	// .sale__grid

	&__grid {
		@media(min-width: 1025px) {
			grid-template-areas: 'marquee body body body aside'
			;
		}

		@media(max-width: 1024px) {
			grid-template-columns: 100vw;
		}
	}

	// .sale__marquee

	&__marquee {
		display: none;

		@media(min-width: 1025px) {
			display: flex;
			font-size: 4.8rem;
			line-height: 4.6rem;
			color: var(--yellow);
			text-transform: uppercase;
			max-height: var(--slider-height);
		}
	}

	// .sale__body

	&__body {
		position: relative;

		@media(min-width: 1025px) {
			grid-area: body;
		}

		&::before,
		&::after {
			@extend %bg-contain;

			@media(min-width: 1025px) {
				content: '';
				position: absolute;
			}

		}

		&::before {
			@media(min-width: 1025px) {
				bottom: 5.9rem;
				right: 10.1rem;
				width: 53.2rem;
				height: 59.9rem;
				background-image: url(../images/elements/sale.svg);
			}

		}

		&::after {
			top: var(--decor-dots-pos);
			right: var(--decor-dots-pos);
			width: var(--decor-dots);
			height: var(--decor-dots);
			background-image: url(../images/elements/sale-dots.svg);
		}
	}

	// .sale__slider

	&__slider {
		@media(max-width: 767px) {
			display: grid;
			row-gap: var(--offset-m);
		}
	}

	// .sale__slider-nav

	&__slider-nav {
		@media(min-width: 768px) {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	// .sale__rightside

	&__rightside {
		display: none;

		@media(min-width: 1025px) {
			display: block;
			position: relative;
			grid-area: aside;
		}
	}

	// .sale__rightside-btn

	&__rightside-btn {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
