.club-video {
    --title: 44rem;
    --text: 34.4rem;
    --player: var(--gap);

    @media(max-width: 1024px) {
        --player: 15.2rem;
    }

    position: relative;
    min-height: --section-height;
    color: var(--white);

    @media (min-width: 1025px) {
        &:before {
            @include rect(bottom, right, 0, 0, var(--gap), var(--white));
        }
    }

    &__bg,
    &__content {
        grid-row: 1 / 2;
    }

    // .club-video__bg

    &__bg {
        grid-column: 1 / -1;

        img {
            @extend %cover;
        }
    }

    &__content {
        @include padding-y(var(--section-padding));
        display: grid;
        grid-template-columns: var(--title) var(--offset-s) var(--player) 1fr var(--text);
        grid-template-rows: max-content 6rem var(--player) 7.2rem max-content;
        grid-template-areas: 'title . . . .'
            '. . . . .'
            '. . player . .'
            '. . . . .'
            '. . . . text';

        @media(max-width: 1024px) {
            @include padding-y(var(--offset-l));
            //min-height: 100vh;
            grid-template-columns: 1fr var(--player) 1fr;
            grid-template-rows: max-content 8.6rem var(--player) 6.2rem max-content;
            grid-template-areas:
                'title title title'
                '. . .'
                '. player .'
                '. . .'
                'text text text';
        }
    }

    // .club-video__title

    &__title {
        grid-area: title;
    }

    // .club-video__player

    &__player {
        @extend %grid-center;
        border-radius: 50%;
        border: 0.1rem solid var(--white);
        grid-area: player;
    }

    // .club-video__text

    &__text {
        @extend %text-16;
        grid-area: text;

        @media(max-width: 767px) {
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
    }
}
