.sport-food {
    --content: 44.6rem;

    position: relative;

    &::after {
        @extend %bg-contain;
    }

    @media (min-width: 1025px) {
        background-image: url(../images/decor/lifter.svg);
        background-size: 55.3rem 42rem;
        background-position: left bottom;
        background-repeat: no-repeat;

        &:before {
            @include rect(top, left, 0, 0, 28.6rem, var(--ocean));
        }

        &::after {
            content: '';
            position: absolute;
            bottom: var(--offset-xls);
            left: 14.7rem;
            width: 75.7rem;
            height: 49.2rem;
            background-image: url(../images/elemets/sport-food.svg);
        }
    }

    // .sport-food__grid

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, var(--gap)) var(--content) 10.9rem 1fr repeat(2, var(--gap));

        @media (min-width: 1025px) {
            grid-template-rows: 1fr max-content;
        }

        @media (max-width: 1024px) {
            grid-template-columns: var(--container-padding) 1fr var(--container-padding);
        }
    }

    // .sport-food__content

    &__content {
        padding: 9.2rem 0 8.3rem;
        grid-column: 3 / 4;

        @media (min-width: 1025px) {
            grid-row: 1 / -1;
        }

        @media (max-width: 1024px) {
            grid-column: 2 / -2;
            padding: var(--offset-m) 0 var(--offset-l);
        }

        > * {
            margin-bottom: var(--offset-xl);

            @media (max-width: 1024px) {
                margin-bottom: var(--offset-m);
            }

            @media (max-width: 767px) {
                margin-bottom: var(--offset-s);
            }
        }
    }

    // .sport-food__title

    &__title {
        position: relative;
        padding-bottom: var(--offset-xl);

        @media (max-width: 1024px) {
            font-size: 2rem;
            line-height: 2.8rem;
            padding-bottom: var(--offset-m);
        }

        @media (max-width: 767px) {
            padding-bottom: var(--offset-s);
            font-size: 1.6rem;
            line-height: 2.2rem;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: var(--section-padding);
            height: 0.2rem;
            background-color: var(--yellow);
        }

        span {
            color: var(--yellow);
        }
    }

    // .sport-food__text

    &__text {
        &:not(:last-child) {
            margin-bottom: 6.6rem;

            @media (max-width: 1024px) {
                margin-bottom: calc(var(--offset-s) + (var(--offset-m) - var(--offset-s)));
            }
        }
    }

    // .sport-food__labels

    &__labels {
        display: flex;
        flex-wrap: wrap;
        gap: var(--offset-l);

        @media (max-width: 1024px) {
            gap: var(--offset-s);
        }
    }

    // .sport-food__img

    &__img {
        grid-column: 5 / -1;

        @media (max-width: 1024px) {
            grid-column: 1 / -1;
        }

        @media (min-width: 1025px) {
            grid-row: 1 / -1;
        }

        img {
            @extend %cover;
        }
    }

    &__decor-title {
        padding: 6.5rem 0;

        @media (min-width: 1025px) {
            grid-column: -2 / -1;
            grid-row: -2 / -1;
        }

        @media (max-width: 1024px) {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 2rem;
            line-height: 2.8rem;
            padding: 3rem;
        }
    }
}
