.coach-bio {
    $this: &;

    position: relative;
    @include padding-y(var(--section-padding_xl));

    @media(max-width: 1024px) {
        padding: var(--offset-xls) 0 var(--offset-xl);
    }

    @media(max-width: 767px) {
        padding: var(--offset-m) 0 var(--offset-l);
    }

    @media(min-width: 1025px) {
        &:before {
            @include rect(top, left, 0, 0, 100%, var(--beige));
        }
    }

    &__container {
        @media(max-width: 1024px) {
            grid-template-columns: unset;
        }
    }

    // .coach-bio__body

    &__body {
        display: grid;

        @media(min-width: 1025px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: max-content var(--offset-l) max-content 4rem max-content var(--offset-l) max-content var(--offset-xxl) max-content;
            grid-template-areas:
                '. title'
                '. .'
                '. text'
                '. .'
                '. sliderTop'
                '. .'
                'slider slider'
                '. .'
                '. dl'
            ;
        }

        @media(max-width: 1024px) {
            grid-template-columns: var(--container-padding) 1fr var(--container-padding);
            row-gap: var(--offset-s);
        }

        > * {
            @media(max-width: 1024px) {
                grid-column: 2 / 3;
            }
        }
    }

    // .coach-bio__title

    &__title {
        @media(min-width: 1025px) {
            grid-area: title;
        }
    }

    // .coach-bio__text

    &__text {
        @media(min-width: 1025px) {
            grid-area: text;
        }

        @media(max-width: 1024px) {
            &:not(:last-child) {
                margin-bottom: calc(var(--offset-m) - var(--offset-s));
            }
        }
    }

    // .coach-bio__slider-top

    &__slider-top {
        @extend %flex-row-center;

        @media(min-width: 1025px) {
            grid-area: sliderTop;
        }

        .swiper-button {

            &-prev,
            &-next {
                @extend %grid-center;
                position: static;
                margin: 0;
                width: var(--arrow-btn);
                height: var(--arrow-btn);
                background-color: var(--black);
                transition: var(--transition) background-color;

                @media (any-hover: hover) {
                    &:hover {
                        background-color: var(--yellow);
                    }
                }

                &::after {
                    display: none;
                }

                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }

    // .coach-bio__slider-title

    &__slider-title {
        @extend .title;
        @extend %text-14;
        font-weight: 700;
    }

    // .coach-bio__slider-arrows

    &__slider-arrows {
        display: flex;
    }

    // .coach-bio__slider

    &__slider {
        @media(min-width: 1025px) {
            width: calc(100vw - var(--gap) * 4);
            grid-area: slider;
        }

        @media(max-width: 1024px) {
            width: 100vw;
            grid-column: 1 / -1;

            &:not(:last-child) {
                margin-bottom: calc(var(--offset-l) - var(--offset-s));
            }
        }
    }

    // .coach-bio__list

    &__list {
        display: grid;
        gap: var(--offset-l);

        @media(max-width: 767px) {
            gap: var(--offset-m);
        }

        @media(min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(min-width: 1025px) {
            grid-area: dl;
        }
    }

    // .coach-bio__list-item

    &__list-item {
        @include row-grid(var(--offset-xxs));
        align-content: start;

        dt {
            @extend #{$this}__slider-title;
        }

        dd {
            @extend %text-14;
        }
    }
}

.coach-music-slider {
    $this: &;

    @media(min-width: 1025px) {
        padding-bottom: var(--offset-m);
    }

    &__player {
        @include position-center-xy;

        @media(min-width: 1025px) {
            opacity: 0;
            transition: var(--transition) opacity;
        }
    }

    // .coach-music-slider__item

    &__item {
        &:nth-child(odd) {
            @media(min-width: 1025px) {
                transform: translateY(var(--offset-m));
            }
        }

        @media(max-width: 1024px) {
            width: var(--gap);
            height: var(--gap);
        }

        @media(max-width: 767px) {
            width: 11.4rem;
            height: 11.4rem;
        }

        img {
            @extend %cover;
        }

        @media (any-hover: hover) {
            &:hover {
                #{$this} {
                    &__player {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
