.promo-faq {
    position: relative;

    @media (min-width: 1025px) {
        border-bottom: $border;
        grid-template-rows: calc(var(--header-height) + var(--offset-xxl)) max-content var(--offset-xxxl);
    }

    @media (max-width: 1024px) {
        padding-top: calc(var(--header-height) + var(--offset-m));
    }

    &:after {
        @extend %contain;
    }

    @media (min-width: 1025px) {
        &:before {
            @include rect(bottom, left, 0, 0, var(--gap), var(--yellow));
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 14.2rem;
            right: 30rem;
            width: 31.3rem;
            height: 17rem;
            background-image: url(../images/elements/faq.svg);
        }
    }

    // .promo-faq__decor-title

    &__decor-title {
        display: none;

        @media (min-width: 1025px) {
            display: flex;
            grid-column: -2 / -1;
            grid-row: 1 / -1;
        }
    }

    &__content {
        grid-row: 2 / 3;
        display: grid;
        row-gap: 11.8rem;

        @media (max-width: 767px) {
            row-gap: var(--offset-m);
        }
    }

    // .promo-faq__title

    &__title {
        @extend .title;
        @extend %text-32;

        @media (min-width: 1025px) {
            max-width: 41rem;
        }
    }
}
