.promo-team {
    --text: 32.8rem;

    position: relative;
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: repeat(2, var(--gap)) var(--select) var(--text) var(--input-height) 1fr repeat(2, var(--gap));

    @media (max-width: 1024px) {
        padding-top: var(--offset-m);
        grid-template-columns: var(--container-padding) 1fr var(--container-padding);
        row-gap: var(--offset-m);
    }

    > * {
        @media (max-width: 1024px) {
            grid-column: 2 / -2;
        }
    }

    @media (min-width: 1025px) {
        grid-template-rows:
            var(--header-height) var(--offset-xxl) calc(var(--gap) - var(--header-height) - var(--offset-xxl)) max-content 1rem max-content var(--offset-xxl) repeat(2, var(--input-height));
        grid-template-areas:
            'aside . . . . . . .'
            'aside . . . . img img .'
            'aside . title . . img img .'
            '. . title . . img img .'
            '. . . . . img img .'
            '. . . text . img img .'
            '. . . . . img img .'
            '. . select . . img img .'
            '. . . search search search . .';
    }

    &::after {
        @media (min-width: 1025px) {
            content: '';
            position: absolute;
        }
    }

    &::before {
        content: '';
        position: absolute;

        @media (min-width: 1025px) {
            top: 50%;
            transform: translateY(-50%);
            right: 6rem;
            width: 159.2rem;
            height: 20.5rem;
            background-image: url(../images/elements/promo-team.svg);
        }

        @media (max-width: 1024px) {
            left: calc(var(--container-padding) * (-1));
            right: calc(var(--container-padding) * (-1));
            bottom: 0;
            height: calc(var(--input-height) + var(--offset-m));
            background-color: var(--white);
        }
    }

    &::after {
        @media (min-width: 1025px) {
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            height: var(--input-height);
            background-color: var(--white);
        }
    }

    // .promo-team__aside-img

    &__aside-img {
        display: none;

        @media (min-width: 1025px) {
            position: relative;
            z-index: 101;
            display: block;
            grid-area: aside;
        }

        img {
            @extend %cover;
        }
    }

    // .promo-team__title

    &__title {
        @media (min-width: 1025px) {
            grid-area: title;
        }
    }

    // .promo-team__text

    &__text {
        @media (min-width: 1025px) {
            grid-area: text;
        }

        &:not(:last-child) {
            @media (max-width: 1024px) {
                margin-bottom: calc(var(--offset-l) - var(--offset-m));
            }
        }
    }

    // .promo-team__search

    &__search {
        position: relative;
        z-index: 10;
        padding-left: var(--offset-m);
        padding-right: 5rem;

        @media (min-width: 1025px) {
            grid-area: search;
        }
    }

    &__select {
        @media (min-width: 1025px) {
            grid-area: select;
        }

        &:not(:last-child) {
            @media (max-width: 1024px) {
                margin-bottom: calc(var(--offset-l) - var(--offset-m));
            }
        }

        .select__title {
            border-bottom: var(--border);
        }
    }

    // .promo-team__img

    &__img {
        @media (min-width: 1025px) {
            grid-area: img;
        }

        @media (max-width: 1024px) {
            grid-column: 1 / -1;
        }

        img {
            @extend %cover;
        }
    }
}
