.promo-team {
    --select: 34.4rem;
    --text: 32.8rem;

    position: relative;
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: repeat(2, var(--gap)) var(--select) var(--text) var(--input-height) 1fr repeat(2, var(--gap));
    grid-template-rows:
        var(--header-height) var(--input-height) calc(var(--gap) - var(--header-height) - var(--input-height))
        max-content 1rem max-content repeat(3, var(--input-height));
    grid-template-areas:
        'aside . . . . . . .'
        'aside . . . . img img .'
        'aside . title . . img img .'
        '. . title . . img img .'
        '. . . . . img img .'
        '. . . text . img img .'
        '. . . . . img img .'
        '. . select . . img img .'
        '. . . search search search . .';
    &::before,
    &::after {
        @media (min-width: 1025px) {
            content: '';
            position: absolute;
        }
    }
    &::before {
        @extend %pos-center-y;
        @media (min-width: 1025px) {
            right: 6rem;
            width: 159.2rem;
            height: 20.5rem;
            background-image: url(../images/elements/promo-team.svg);
        }
    }

    &::after {
        @media (min-width: 1025px) {
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            height: var(--input-height);
            background-color: #fff;
        }
    }
    // .promo-team__aside-img

    &__aside-img {
        grid-area: aside;
        img {
            @extend %cover;
        }
    }

    // .promo-team__title

    &__title {
        grid-area: title;
    }

    // .promo-team__text

    &__text {
        grid-area: text;
    }

    // .promo-team__search

    &__search {
        position: relative;
        z-index: 10;
        grid-area: search;
        padding-left: 2.4rem;
        padding-right: 5rem;
    }

    &__select {
        grid-area: select;
        .select__title {
            border-bottom: 0.1rem solid var(--line-color);
        }
    }

    // .promo-team__img

    &__img {
        grid-area: img;
        img {
            @extend %cover;
        }
    }
}

.team-grid {
    padding-top: var(--input-height);
    padding-bottom: calc(var(--section-padding) + 0.8rem);
    position: relative;
    @media (min-width: 1025px) {
        @media (min-width: 1025px) {
            &:before {
                @include rect(calc(var(--input-height) + var(--team-card-h)), 64rem, var(--beige));
            }

            &:after {
                @include rect(calc(var(--input-height) * (-1)), 67.2rem, var(--beige));
                right: 0;
                z-index: 2;
            }
        }
    }
    // .team-grid__items

    &__items {
        display: grid;
        grid-auto-rows: minmax(var(--team-card-h), max-content);
        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 1025px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 767px) {
            gap: 1.6rem;
        }
    }

    &__card {
        &:nth-child(9n + 2) {
            @media (min-width: 1025px) {
                grid-column: span 2;
            }
        }
        &:nth-child(9n + 6) {
            @media (min-width: 1025px) {
                grid-column: span 2;
            }
        }
        &:nth-child(9n + 7) {
            @media (min-width: 1025px) {
                grid-row: span 2;
            }
        }
    }
}
