.team-member {
    $this: &;

    --offset: var(--offset-l);

    position: relative;
    display: grid;
    height: 100%;

    @media (max-width: 767px) {
        --offset: var(--offset-s);
    }

    &__img,
    &__content {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    // .team-member__img

    &__img {
        img {
            @extend %cover;
        }
    }

    // .team-member__content

    &__content {
        @extend %flex-col;
        align-items: flex-start;
        justify-content: flex-end;
        padding: var(--offset) var(--offset-xl) var(--offset) var(--offset);
        color: var(--white);
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            height: 50%;
            background: linear-gradient(180deg, rgba(2, 8, 24, 0) 0%, rgba(2, 8, 24, 0.58) 100%);
            opacity: 0;
            transition: var(--transition) opacity;
        }
    }

    // .team-member__role

    &__role {
        @extend %text-14;
        grid-area: role;
        text-shadow: var(--text-shadow);
        margin-bottom: var(--offset-x);
    }

    // .team-member__name

    &__name {
        @extend .title;
        @extend %text-16;
        grid-area: name;
        text-shadow: var(--text-shadow);
    }

    &--style {
        &_bg {
            &-pink {
                background-color: #ed94bf;
            }

            &-yellow {
                background-color: #ffe49e;
            }

            &-ocean {
                background-color: #9cd3db;
            }

            &-purple {
                background-color: #9d9cdb;
            }

            &-green {
                background-color: #a9f1b9;
            }
        }
    }

    @media (any-hover: hover) {
        &:hover {
            #{$this} {
                &__content {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
