.scroll-btn {
    $this: &;

    display: none;

    @media (min-width: 1025px) {
        display: grid;
        place-items: center;
        align-content: center;
        width: var(--gap);
        height: var(--gap);
        background-color: var(--black);
        grid-area: scroll;
        // .scroll-btn__arrow

        &__arrow {
            width: 2.4rem;
            height: 2.4rem;

            path {
                fill: #fff;
            }
        }
    }

    &--yellow {
        @media(min-width: 1025px) {
            background-color: var(--yellow);

            #{$this} {
                &__arrow {
                    path {
                        fill: var(--black);
                    }
                }
            }
        }
    }
}
