.sum-up-results {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, var(--gap)) repeat(2, 1fr) repeat(2, var(--gap));
    grid-template-areas:
        'img img img content . decor'
        'img img img content . .';

    @media (max-width: 1024px) {
        padding-top: var(--offset-l);
        row-gap: var(--offset-l);
        grid-template-columns: var(--mob-padding) 1fr var(--mob-padding);
        grid-template-areas:
            '. content .'
            'img img img';
    }

    @media (min-width: 1025px) {
        grid-template-rows: repeat(2, 1fr);
    }

    &::before,
    &::after {
        @media (min-width: 1025px) {
            content: '';
            position: absolute;
            background-color: var(--line-color);
        }
    }

    &::before {
        @media (min-width: 1025px) {
            top: 50%;
            right: 0;
            left: 50%;
            height: 0.1rem;
        }
    }

    &::after {
        @media (min-width: 1025px) {
            width: 0.1rem;
            top: 50%;
            right: var(--gap);
            bottom: 0;
        }
    }

    // .results__img

    &__img {
        grid-area: img;

        /* @media(max-width: 767px) {
            height: 32rem;
        } */

        img {
            @extend %cover;
        }
    }

    // .results__content

    &__content {
        grid-area: content;
        display: grid;
        row-gap: var(--offset-xxl);

        @media (max-width: 1024px) {
            row-gap: var(--offset-m);
        }

        @media (min-width: 1025px) {
            --title: 48rem;
            --text: 34.4rem;
            --pl: 7.6rem;

            grid-auto-columns: var(--pl) calc(var(--title) - var(--text)) 1fr;
            grid-template-areas:
                '. title title'
                '. . text';
            align-content: center;
            padding: var(--offset-xxl) 0;
        }
    }

    // .results__title

    &__title {
        @media (min-width: 1025px) {
            grid-area: title;
        }
    }

    // .results__text

    &__text {
        @media (min-width: 1025px) {
            grid-area: text;
        }
    }

    &__decor-title {
        @media (min-width: 1025px) {
            grid-area: decor;
        }
    }
}
