.club-photos {
    --thumb: 10.4rem;
    --pb: 10.4rem;

    @media(min-width: 1025px) {
        min-height: var(--section-mh);
        color: #fff;
    }

    @media(max-width: 1024px) {
        padding-top: var(--offset-l);
    }

    &__grid {
        @media(min-width: 1025px) {
            grid-template-rows: var(--section-padding) max-content 1fr var(--thumb) var(--pb);
        }
    }

    // .club-photos__title

    &__title {
        position: relative;
        z-index: 10;
        max-width: 32.7rem;
        grid-column: 3 / 4;

        @media(min-width: 1025px) {
            grid-row: 2 / 3;
        }

        @media(max-width: 1024px) {
            grid-column: 2 / 3;
            margin-bottom: var(--offset-m);
        }
    }

    // .club-photos__slider

    &__slider {
        grid-column: 1 / -1;

        @media(min-width: 1025px) {
            grid-row: 1 / -1;
        }

        @media(max-width: 1024px) {
            padding-bottom: var(--arrow-btn);
        }
    }

    &__slider-nav {
        position: absolute;
        bottom: 0;
        left: calc(var(--gap) * 2);

        @media(max-width: 1024px) {
            left: 0;
            width: 100%;
        }
    }

    // .club-photos__img

    &__img {
        width: 100%;
        height: 100%;

        img {
            @extend %cover;
        }
    }

    // .club-photos__thumbs-slider

    &__thumbs-slider {
        @media(min-width: 1025px) {
            grid-row: -3 / -2;
            grid-column: 3 / 4;
        }
    }
}

.club-photos-slider {
    &__item {
        @media(max-width: 500px) {
            height: 19.4rem;
        }

        @media(min-width: 1025px) {
            height: var(--section-mh);
        }
    }
}

.club-photos-thumbs {
    display: none;

    @media(min-width: 1025px) {
        display: block;
    }

    // .club-photos-thumbs__item

    &__item {
        cursor: pointer;
    }
}
