.site-map {
    cursor: pointer;
    @extend %grid-center;
    @extend %text-11;
    width: var(--section-padding);
    height: var(--section-padding);
    background-color: var(--purple);
    color: #fff;

    @media (min-width: 1025px) {
        position: fixed;
        top: 28.4rem;
        left: 0;
        z-index: 200;
    }

    @media (max-width: 1024px) {
        width: var(--header-height);
        height: var(--header-height);
    }
}
