.site-map {
    cursor: pointer;
    position: fixed;
    top: 28.4rem;
    left: 0;
    z-index: 200;
    @extend %grid-center;
    @extend %text-11;
    width: var(--section-padding);
    height: var(--section-padding);
    background-color: var(--purple);
    color: var(--white);
    display: none;

    @media (max-width: 1024px) {
        top: 0;
        left: auto;
        right: var(--header-height);
        width: var(--header-height);
        height: var(--header-height);
    }
}
