.success-story {
    $this: &;

    @extend %flex-col;
    position: relative;
    height: 69.4rem;
    padding: var(--offset-xls) var(--offset-xxl) var(--offset-xl);
    justify-content: space-between;

    @media (min-width: 1025px) {
        border-top: var(--border-white-10);
        border-left: var(--border-white-10);
    }

    @media (max-width: 1024px) {
        height: 42.7rem;
        padding: 0 var(--container-padding) var(--offset-m);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
    }

    // .success-story__top

    &__top {
        @extend %flex-row-center;
    }

    // .success-story__name

    &__name {
        @extend %text-18;
        font-weight: 700;

        @media (max-width: 1024px) {
            font-size: 1.5rem;
            line-height: 2.2rem;
        }
    }

    // .success-story__result

    &__result {
        span {
            @extend .title;
            @include border-text(var(--yellow), transparent);
            font-size: 5.6rem;
            line-height: 8.4rem;

            @media (max-width: 1024px) {
                font-size: 3.8rem;
                line-height: 5.3rem;
            }
        }

        sub {
            @extend %text-18;
            margin-left: var(--offset-xs);

            @media (max-width: 1024px) {
                margin-left: var(--offset-xxs);
            }
        }
    }

    // .success-story__img

    &__img {
        @include position-center-x;
        bottom: 0;
        display: flex;

        @media (min-width: 1025px) {
            align-items: flex-end;
        }

        @media (max-width: 1024px) {
            max-height: 37.4rem;
        }
    }

    // .success-story__bottom

    &__bottom {
        @extend %flex-row-center;
    }

    // .success-story__transformation

    &__transformation {
        display: flex;
    }

    // .success-story__transformation-kg

    &__transformation-kg {
        @extend %vertical-align;

        b {
            @extend %text-18;
            font-weight: 700;
            margin-right: var(--offset-sx);
        }

        & + #{$this} {
            &__transformation-kg {
                position: relative;
                padding-left: 3.8rem;
                margin-left: var(--offset-sx);

                &::before {
                    content: '';
                    @include position-center-y;
                    left: 0;
                    width: var(--icon-size);
                    height: var(--icon-size);
                    background-image: url(../images/icons/ico-right.svg);
                    @extend %bg-contain;
                }
            }
        }
    }
}
