.club-zones {
    --pagination-mh: 12.8rem;

    @media (max-width: 1024px) {
        padding-bottom: var(--offset-xl);
    }

    @media (max-width: 767px) {
        padding-bottom: var(--offset-m);
    }

    &__inner {
        @media (min-width: 1025px) {
            grid-template-rows: 1fr minmax(var(--pagination-mh), max-content);
        }
    }

    // .club-zones__slider

    &__slider {
        width: 100vw;

        @media (max-width: 1024px) {
            grid-column: 1 / -1;
        }

        @media (min-width: 1025px) {
            grid-row: 1 / -1;
        }

        .swiper-horizontal > .swiper-pagination-progressbar,
        .swiper-pagination-progressbar.swiper-pagination-horizontal {
            display: none;

            @media (min-width: 1025px) {
                display: block;
                top: auto;
                left: calc(var(--gap) * 2);
                bottom: 0;
                width: calc(100vw - var(--gap) * 4);
                height: var(--pagination-mh);
                background: transparent;
            }

            &::before {
                @media (min-width: 1025px) {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: calc(var(--gap) * (-2));
                    width: calc(var(--gap) * 2);
                    height: 100%;
                    background-color: #fff;
                }
            }
        }

        .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
            background: #fff;
        }
    }

    // .club-zones__slider-pagination

    &__slider-pagination {
        display: none;

        @media (min-width: 1025px) {
            display: flex;
            align-items: center;
            grid-column: 3 / 4;
            grid-row: -2 / -1;
        }

        .slider-pagination {
            &__item {
                @media (min-width: 1025px) {
                    width: calc(100% / 7);
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

.club-zones-slider {
    // .club-zones-slider__item

    &__item {
        @media (min-width: 1025px) {
            height: var(--section-mh);
        }

        @media (max-width: 1024px) {
            width: calc(228 * 100vw / 320) !important;
        }
    }

    &__item-img {
        position: relative;

        @media (max-width: 1024px) {
            height: 20.8rem;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50%;
            background: linear-gradient(360deg, rgba(2, 8, 24, 0.6) 0%, rgba(2, 8, 24, 0) 100%);
        }

        img {
            @extend %cover;
        }
    }

    &__item-title {
        display: none;

        @media (max-width: 1024px) {
            display: flex;
            align-items: center;
            padding: var(--offset-m) var(--mob-padding) 0;
        }

        @media (max-width: 767px) {
            font-size: 1.3rem;
            line-height: 1.8rem;
        }

        .label {
            white-space: nowrap;
            margin-right: var(--mob-padding);
        }
    }
}
