.timetable-section {
    --pt: 8.5rem;
    --pb: 7.6rem;
    --card-mh: 33.6rem;
    --rect: 25.6rem;

    position: relative;

    @media (max-width: 1024px) {
        padding-top: var(--offset-l);
    }

    @media (min-width: 1025px) {
        &:before {
            @include rect(top, right, calc(100% - var(--rect) - var(--pb)), 0, var(--rect), var(--beige));
        }
    }

    // .timetable-section__grid

    &__grid {
        @media (min-width: 1025px) {
            grid-template-rows: var(--pt) max-content var(--offset-xxl) minmax(var(--card-mh), max-content) max-content var(
                    --pb
                );
            grid-template-areas:
                'asideClient . . . .'
                'asideClient . head . .'
                'asideClient . . . .'
                'asideClient . timetable . stats'
                'asideClient . timetable . .'
                '. . . . .';
        }
    }

    // .timetable-section__aside-client

    &__aside-client {
        @media (min-width: 1025px) {
            grid-area: asideClient;
        }
    }

    // .timetable-section__head

    &__head {
        display: grid;
        align-items: center;
        grid-template-columns: max-content 53.3rem 1fr max-content;
        grid-template-areas: 'date title . btn';
        gap: var(--offset-xls);

        @media (min-width: 1025px) {
            grid-area: head;
        }

        @media (max-width: 1024px) {
            grid-column: 2 / 3;
            margin-bottom: var(--offset-m);
            grid-template-columns: max-content 1fr;
            gap: var(--offset-m) var(--offset-s);
            grid-template-areas:
                'date title'
                'btn btn';
        }
    }

    // .timetable-section__date

    &__date {
        grid-area: date;
    }

    // .timetable-section__title

    &__title {
        grid-area: title;

        @media (max-width: 767px) {
            font-size: 1.6rem;
            line-height: 2.2rem;
            max-width: 13.2rem;
        }
    }

    // .timetable-section__btn

    &__btn {
        grid-area: btn;
    }

    // .timetable-section__items

    &__items {
        display: grid;
        gap: var(--offset-xls);

        @media (min-width: 1025px) {
            grid-area: timetable;
        }

        @media (max-width: 1024px) {
            grid-column: 1 / -1;
        }

        @media (max-width: 767px) {
            gap: var(--offset-xxs);
        }
    }

    &__stats {
        display: none;

        @media (min-width: 1025px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            grid-area: stats;
        }
    }
}

.date-box {
    @extend %grid-center;
    align-content: center;
    background-color: var(--black);
    color: #fff;
    width: 9.6rem;
    height: 9.6rem;

    @media (max-width: 767px) {
        width: var(--offset-xxxl);
        height: var(--offset-xxxl);
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    &__day {
        @extend .section-title;

        @media (max-width: 767px) {
            font-size: 2.6rem;
            line-height: 3.6rem;
        }
    }
}

.timetable-card {
    $this: &;

    --coach: var(--section-padding);
    --people: 16.3rem;
    --white-info-box-w: 14.4rem;
    --white-info-box-h: 6.2rem;
    --img-h: 17.6rem;
    --progressbar: 0.6rem;
    --img-pb: 1.8rem;

    @media (max-width: 1024px) {
        --coach: var(--offset-xxl);
    }

    display: grid;
    grid-template-rows: var(--offset-l) max-content var(--offset-m) max-content calc(var(--offset-l) / 2) max-content 1fr minmax(
            var(--coach),
            max-content
        );
    grid-template-columns:
        var(--offset-l) 31.5rem var(--offset-xls) var(--offset-xxl) 11.7rem 1fr 3rem calc(var(--people) - var(--coach))
        var(--coach);
    background-color: var(--light-blue);
    position: relative;

    @media (max-width: 1024px) {
        grid-template-rows:
            max-content max-content max-content var(--offset-m) minmax(var(--white-info-box-h), max-content)
            calc(var(--img-h) - var(--white-info-box-h) - var(--progressbar) - var(--img-pb) - var(--offset-s)) var(
                --progressbar
            )
            calc(var(--img-pb) - var(--offset-s)) repeat(2, max-content);
        grid-template-columns:
            var(--mob-padding) calc(var(--offset-s) - var(--mob-padding)) 1fr calc(
                var(--white-info-box-w) - var(--offset-s)
            )
            calc(var(--offset-s) - var(--mob-padding)) var(--mob-padding);
        row-gap: var(--offset-s);
        @include padding-y(var(--offset-s));
    }

    &::before,
    &::after {
        @media (min-width: 1025px) {
            content: '';
            position: absolute;
            left: var(--coach);
            bottom: var(--coach);
            background-color: rgba(var(--dark-gray), 0.3);
        }
    }

    &::before {
        @media (min-width: 1025px) {
            width: 0.1rem;
            top: 0;
        }
    }

    &::after {
        @media (min-width: 1025px) {
            width: calc(50% - var(--coach));
            height: 0.1rem;
        }
    }

    // .timetable-card__labels

    &__labels {
        display: flex;
        flex-wrap: wrap;
        margin: calc(var(--offset-xxs) * (-1));
        grid-row: 2 / 3;
        grid-column: 2 / 5;

        @media (max-width: 1024px) {
            grid-row: 1 / 2;
            grid-column: 2 / -2;
        }
    }

    // .timetable-card__label

    &__label {
        margin: var(--offset-xxs);

        &.label--style_bg-green,
        &.label--style_bg-yellow {
            display: none;
        }
    }

    // .timetable-card__wrap

    &__wrap {
        @extend %vertical-align;
        grid-row: 4 / 5;
        grid-column: 2 / 5;

        @media (max-width: 1024px) {
            grid-row: 2 / 3;
            grid-column: 2 / -2;
        }
    }

    // .timetable-card__time

    &__time {
        margin-left: var(--offset-l);

        @media (max-width: 767px) {
            margin-left: var(--offset-s);
        }
    }

    // .timetable-card__text

    &__text {
        grid-row: 6 / 7;
        grid-column: 2 / 5;

        @media (max-width: 1024px) {
            grid-row: 3 / 4;
            grid-column: 2 / -2;
        }
    }

    // .timetable-card__coach

    &__coach {
        display: grid;
        align-items: center;
        grid-template-rows: 1fr max-content max-content 1fr;
        grid-template-columns: var(--coach) max-content;
        grid-template-areas:
            'avatar .'
            'avatar name'
            'avatar descr'
            'avatar .';
        gap: 0.5rem var(--offset-l);
        grid-row: -2 / -1;
        grid-column: 1 / 4;

        @media (max-width: 1024px) {
            column-gap: var(--offset-s);
            grid-template-columns: var(--coach) 1fr;
            grid-row: -3 / -2;
            grid-column: 3 / -3;
        }
    }

    // .timetable-card__coach-img

    &__coach-img {
        grid-row: span 2;
        grid-area: avatar;

        img {
            @extend %cover;
        }
    }

    // .timetable-card__coach-name

    &__coach-name {
        @extend %text-14;
        font-weight: 500;
        grid-area: name;
    }

    // .timetable-card__coach-specialization

    &__coach-specialization {
        @extend %text-13;
        color: rgba(var(--dark-gray), 0.7);
        grid-column: 2 / 3;
        grid-area: descr;
    }

    // .timetable-card__img

    &__img {
        grid-row: 1 / -1;
        grid-column: 6 / -1;

        @media (max-width: 1024px) {
            grid-row: 4 / span 5;
            grid-column: 1 / -1;
        }

        img {
            @extend %cover;
        }
    }

    // .timetable-card__progress

    &__progress {
        position: relative;
        height: var(--progressbar);
        background-color: #fff;
        border-radius: $brs;
        align-self: center;
        grid-row: -2 / -1;
        grid-column: 4 / 7;

        @media (max-width: 1024px) {
            grid-row: 7 / 8;
            grid-column: 3 / -3;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: var(--green);
            border-radius: 0.3rem 0 0 0.3rem;
            width: var(--progress);
        }
    }

    // .timetable-card__people

    &__people {
        @extend %flex-center;
        @extend %text-12;
        grid-column: -3 / -1;
        grid-row: 1 / span 3;
        align-self: start;
        padding: var(--offset-m) var(--offset-m) 1.9rem;
        background-color: #fff;

        @media (max-width: 1024px) {
            grid-row: 4 / 5;
            grid-column: -4 / -1;
            padding: var(--offset-s);
            font-size: 1.1rem;
            line-height: 1.5rem;
        }

        b {
            @extend %text-26;
            flex-shrink: 0;
            white-space: nowrap;
            margin-right: var(--offset-s);

            @media (max-width: 1024px) {
                font-size: 2rem;
                line-height: 2.8rem;
            }
        }
    }

    // .timetable-card__btn

    &__btn {
        grid-row: -2 / -1;
        grid-column: -2 / -1;
        width: 100%;
        height: 100%;

        @media (max-width: 1024px) {
            grid-column: 2 / -2;
        }

        @media (min-width: 1025px) {
            padding: 0;
        }

        span {
            display: none;

            @media (max-width: 1024px) {
                display: block;
            }
        }

        svg {
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    &.progress {
        #{$this}__label.label--style_bg-green {
            display: inline-block;
        }
    }

    &.planning {
        #{$this}__label.label--style_bg-yellow {
            display: inline-block;
        }
    }
}

.aside-nums {
    // .aside-nums__item

    &__item {
        @extend %flex-col;
        align-items: flex-start;
    }

    // .aside-nums__item-num

    &__item-num {
        @extend .title;
        @extend %text-38;
        @include border-text(var(--dark-gray), transparent);
    }

    // .aside-nums__item-descr

    &__item-descr {
        @extend %text-13;
        color: var(--dark-gray);
        max-width: 14.8rem;
    }
}
