.timetable-section {
	--pt: 8.5rem;
	--pb: 7.6rem;
	--card-mh: 33.6rem;
	--rect: 25.6rem;

	position: relative;

	@media (max-width: 1024px) {
		padding-top: var(--offset-l);
	}

	@media (min-width: 1025px) {
		&:before {
			@include rect(top, right, calc(100% - var(--rect) - var(--pb)), 0, var(--rect), var(--beige));
		}
	}

	// .timetable-section__grid

	&__grid {
		@media (min-width: 1025px) {
			align-content: start;
			grid-template-rows: var(--pt) max-content var(--offset-xxl) minmax(var(--card-mh), max-content) max-content var(--pb);
			grid-template-areas:
				'asideClient . . . .'
				'asideClient . head . .'
				'asideClient . . . .'
				'asideClient . timetable . stats'
				'asideClient . timetable . .'
				'. . . . .';
		}
	}

	// .timetable-section__aside-client

	&__aside-client {
		@media (min-width: 1025px) {
			grid-area: asideClient;
			justify-content: flex-end;
			align-self: start;
		}
	}

	// .timetable-section__head

	&__head {
		display: grid;
		align-items: center;
		grid-template-columns: max-content 53.3rem 1fr max-content;
		grid-template-areas: 'date title . btn';
		gap: var(--offset-xls);

		@media (min-width: 1025px) {
			grid-area: head;
		}

		@media (max-width: 1024px) {
			grid-column: 2 / 3;
			margin-bottom: var(--offset-m);
			grid-template-columns: max-content 1fr;
			gap: var(--offset-m) var(--offset-s);
			grid-template-areas:
				'date title'
				'btn btn';
		}
	}

	// .timetable-section__date

	&__date {
		grid-area: date;
	}

	// .timetable-section__title

	&__title {
		grid-area: title;

		@media (max-width: 767px) {
			font-size: 1.6rem;
			line-height: 2.2rem;
			max-width: 13.2rem;
		}
	}

	// .timetable-section__btn

	&__btn {
		grid-area: btn;
	}

	// .timetable-section__items

	&__items {
		display: grid;
		gap: var(--offset-xls);

		@media (min-width: 1025px) {
			grid-area: timetable;
		}

		@media (max-width: 1024px) {
			grid-column: 1 / -1;
		}

		@media (max-width: 767px) {
			gap: var(--offset-xxs);
		}
	}

	&__stats {
		display: none;

		@media (min-width: 1025px) {
			display: block;
			grid-area: stats;
		}
	}
}

.timetable-tape {
	.tape-slider__item {
		white-space: nowrap;
	}
}
