.promo-success {
    --title: 49.7rem;
    --text: 43.9rem;
    --bg: calc(748 * 100vw / 1920);
    --circle-text: 30.8rem;

    @media (max-width: 1024px) {
        --title: 24rem;
        --bg: calc(80 * 100vw / 320);
        --circle-text: 20rem;
    }

    position: relative;
    display: grid;
    min-height: 100vh;

    &:before {
        @include rect(top, left, 0, 0, 100%, linear-gradient(270deg, #0ab3ca -2.14%, rgba(10, 179, 202, 0.82) 100%));
        width: var(--bg);
        z-index: 1;
    }

    @media (min-width: 1025px) {
        &:after {
            @include rect(top, right, 0, 0, var(--gap), var(--white));
        }
    }

    &__grid {
        position: relative;
        z-index: 2;

        @media (min-width: 1025px) {
            grid-template-rows: var(--header-height) calc(50% - var(--header-height)) 1fr var(--gap);
            grid-template-areas:
                'asideImg . . . marquee'
                'asideImg . content . marquee'
                '. . content . marquee'
                'scroll . . . marquee';
        }
    }

    &__aside-img {
        display: none;

        @media (min-width: 1025px) {
            display: block;
            grid-area: asideImg;
        }
    }

    // .promo-success__content

    &__content {
        color: var(--white);
        position: relative;
        padding-top: 18.7rem;
        padding-bottom: 8.3rem;
        display: grid;
        grid-template-columns: var(--text) calc(var(--title) - var(--text)) 1fr max-content;
        grid-template-areas:
            'title title . box'
            'text . . box';

        @media (min-width: 768px) {
            align-items: center;
        }

        @media (min-width: 1025px) {
            row-gap: 15rem;
            grid-area: content;
        }

        @media (max-width: 1024px) {
            padding: calc(var(--header-height) + 3rem) 0 var(--offset-s);
        }

        @media (max-width: 767px) {
            grid-template-columns: var(--title) 1fr;
            grid-template-rows: max-content 1fr max-content;
            grid-template-areas:
                'title .'
                '. .'
                'box box';
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: calc(var(--gap) * (-1));
            background-color: var(--white-opacity-30);
        }

        &::before {
            bottom: calc(var(--gap) * (-1));
            width: 0.1rem;
            height: calc(100vh - var(--gap));
        }

        &::after {
            bottom: 0;
            width: calc(var(--bg) - var(--gap));
            height: 0.1rem;
        }
    }

    // .promo-success__title

    &__title {
        grid-area: title;
    }

    &__box {
        --box-right-offset: 12.4rem;
        --box-left-offset: var(--gap) - var(--right-offset);
        --box-bottom-offset: 6.2rem;
        --left-offset: calc(var(--circle-text) - var(--box-left-offset));
        --top-offset: calc(var(--circle-text) - (var(--gap) - var(--box-bottom-offset)));

        grid-area: box;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: var(--left-offset) var(--box-left-offset) var(--box-right-offset);
            grid-template-rows: var(--top-offset) calc(var(--gap) - var(--box-bottom-offset)) var(--box-bottom-offset);
        }
    }

    // .promo-success__text

    &__text {
        display: none;

        @media (min-width: 768px) {
            display: block;
            grid-area: text;
        }
    }

    // .promo-success__circle-text

    &__circle-text {
        @media (min-width: 768px) {
            grid-row: 1 / 3;
            grid-column: 1 / 3;
        }

        @media (max-width: 767px) {
            position: absolute;
            top: calc(50% - var(--circle-text) / 2);
            right: calc(var(--circle-text) / (-2));
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__box-link {
        @media (max-width: 767px) {
            width: 100%;
        }

        @media (min-width: 768px) {
            grid-row: 2 / 4;
            grid-column: 2 / 4;
        }
    }

    &__marquee {
        @media (max-width: 1024px) {
            display: none;
        }
    }
}
