.article-card {
    // .article-card__date

    &__date {
        display: block;
        text-align: right;
        margin-bottom: 0.9rem;
    }

    // .article-card__body

    &__body {
        display: grid;
        position: relative;
        min-height: var(--card-height);

        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(180deg, rgba(2, 8, 24, 0) 0%, rgba(2, 8, 24, 0.4) 100%);

            @media(min-width: 768px) {
                height: 22rem;
            }

            @media(min-width: 1025px) {
                opacity: 0;
                transition: 0.5s opacity;
            }
        }
    }

    // .article-card__img

    &__img {
        img {
            @extend %cover;
        }
    }

    &__img,
    &__content {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    &__kg {
        //@extend %flex-row-center;
        font-size: 8rem;
        line-height: 7.7rem;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: 37%;
        margin-bottom: auto;

        @media(max-width: 767px) {
            font-size: 3.8rem;
            line-height: 5.3rem;
        }
    }

    // .article-card__content

    &__content {
        z-index: 10;
        @extend %flex-col;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2.4rem;
        color: #fff;
        text-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2);

        @media(max-width: 767px) {
            padding: 1.6rem;
        }
    }

    // .article-card__title

    &__title {
        @extend %text-17;
        font-weight: 700;
        margin-top: auto;

        @media(max-width: 767px) {
            font-size: 1.5rem;
            line-height: 2.2rem;
        }

        &:not(:last-child) {
            margin-bottom: 2.2rem;

            @media(max-width: 767px) {
                margin-bottom: 3rem;
            }
        }
    }

    // .article-card__views

    &__views {
        text-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2);
    }

    &__arrow {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    @media (any-hover: hover) {
        &:hover {
            .article-card {
                &__body {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.sale {
        .article-card__title {
            @extend %flex-col;
            align-items: flex-start;
            text-shadow: none;

            span {
                background-color: var(--red);
                @include padding-x(0.8rem);
            }
        }
    }
}

.date {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: var(--dark-gray);
}

.views {
    position: relative;
    padding-left: 3rem;
    @extend %text-13;
    line-height: 2rem;

    &::before {
        content: '';
        position: absolute;
        @extend %pos-center-y;
        left: 0;
        width: 2rem;
        height: 2rem;
        background-image: url(../images/icons/view.svg);
        @extend %bg-contain;
    }
}
