.clients-reviews {
    --title: 44rem;

    position: relative;

    &:before {
        @include rect(bottom, right, 0, 0, var(--gap), var(--white));

        @media (max-width: 1024px) {
            width: var(--section-padding);
            height: var(--section-padding);
        }
    }

    @media (min-width: 1025px) {
        &:after {
            @include rect(top, right, 0, var(--gap), 100%, rgba(var(--white-color-rgb), 0.5));
            width: 0.1rem;
        }
    }

    &__grid {
        @media (max-width: 1024px) {
            min-height: 100vh;
        }
    }

    // .clients-reviews__bg

    &__bg {
        grid-column: 2 / -1;

        @media (max-width: 1024px) {
            grid-column-start: 1;
        }

        img {
            @media (max-width: 1024px) {
                object-position: 0%;
            }
        }
    }

    // .clients-reviews__content

    &__content {
        @include padding-y(var(--section-padding));
        grid-row: 1 / 2;
        color: var(--white);

        @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: 1fr var(--gap) 1.5rem var(--title);
            grid-template-rows: max-content 6rem var(--gap) 1fr;
            grid-template-areas:
                '. . . title'
                '. . . .'
                '. player . .'
                '. . . .';
        }

        @media (max-width: 1024px) {
            @include padding-y(var(--offset-l));
        }
    }

    // .clients-reviews__title

    &__title {
        @media (min-width: 1025px) {
            grid-area: title;
        }

        @media (max-width: 1024px) {
            text-align: center;
        }
    }

    // .clients-reviews__player

    &__player {
        @media (min-width: 1025px) {
            grid-area: player;
        }

        @media (max-width: 1024px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 18.4rem;
            height: 18.4rem;
        }
    }
}
