.club-services {
    position: relative;

    @media(min-width: 1025px) {
        &:before {
            @include rect(top, right, 0, 0, 28.5rem, var(--ocean));
        }
    }

    // .club-services__title

    &__title {
        margin-bottom: var(--offset-xxl);
    }

    // .club-services__tabs

    &__tabs {
        display: none;

        @media(min-width: 1025px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @include padding-y(3rem);
        }
    }

    &__select {
        display: none;

        @media(max-width: 1024px) {
            display: block;
            margin-bottom: var(--offset-l);
            margin-left: calc(var(--mob-padding) * (-1));
            width: 100vw;

            .select__title {
                border-color: var(--line-color);
                border-left: none;
                border-right: none;
            }
        }

        @media(max-width: 767px) {
            margin-bottom: var(--offset-s);
        }
    }

    // .club-services__tab

    &__tab {
        min-height: 3.6rem;
    }

    // .club-services__tabs-content

    &__tabs-content {
        grid-column: 1 / -1;
    }
}
