.aims {
    grid-auto-rows: 33rem;
    gap: var(--offset-xxs);

    &.active {
        display: grid;
    }

    @media(min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 1025px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media(max-width: 767px) {
        grid-auto-rows: minmax(22.8rem, max-content);
    }

    > * {
        &:nth-child(6n + 1) {
            @media(min-width: 1025px) {
                grid-column: span 2;
            }
        }

        &:nth-child(6n + 2) {
            @media(min-width: 1025px) {
                grid-row: span 2;
            }
        }
    }
}
