.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background-color: rgba(#000, .5);
}

.aside-popup {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 102;
    background-color: #fff;
    height: 100%;
    opacity: 0;
    transition: .3s all;

    @media(max-width: 1024px) {
        left: -100%;
    }

    @media(min-width: 1025px) {
        width: 65.2rem;
        right: -65.2rem;
    }

    &.active {
        opacity: 1;

        @media(min-width: 1025px) {
            right: 0;
        }

        @media(max-width: 1024px) {
            left: 0;
            right: 0;
        }
    }

    // .aside-popup__close-btn

    &__close-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: var(--arrow-btn);
        height: var(--arrow-btn);
        background-color: var(--light-blue);
        @extend %grid-center;

        img {
            width: var(--offset-m);
            height: var(--offset-m);
        }
    }

    &__title {
        @extend %text-26;

        @media(max-width: 1024px) {
            font-size: 2rem;
            line-height: 2.8rem;
        }
    }
}
