.success-stories {
    padding-top: var(--arrow-btn);
    padding-bottom: var(--section-padding);
    position: relative;

    @media(max-width: 1024px) {
        padding-bottom: var(--offset-xxl);
    }

    @media(max-width: 767px) {
        padding-top: 0;
        padding-bottom: var(--offset-l);
    }

    @media(min-width: 1025px) {
        &:before {
            @include rect(top, right, 0, 0, 100%, var(--beige));
        }
    }

    // .success-stories__filter

    &__filter {
        margin-bottom: var(--arrow-btn);

        @media(max-width: 1024px) {
            grid-column: 1 / -1;
        }
    }

    &__select {
        &:not(:first-child) {
            .select__title {
                @media(max-width: 767px) {
                    border-top: none;
                }
            }
        }
    }

    // .success-stories__grid

    &__grid {
        --top-offset: 11rem;
        --row-gap-1: 6.2rem;
        --row-gap-2: 9rem;
        --row-gap-3: 10.4rem;

        display: grid;
        gap: 0 var(--offset-xls);

        @media(max-width: 1024px) {
            gap: var(--offset-m);
        }

        @media(min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(min-width: 1025px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: var(--top-offset) calc(var(--card-height) - var(--top-offset)) var(--arrow-btn) var(--row-gap-1) var(--arrow-btn) calc(var(--row-gap-2) - var(--arrow-btn)) calc(var(--card-height) - var(--row-gap-2) - var(--row-gap-1)) var(--row-gap-3) var(--arrow-btn);
            grid-template-areas: '. item-2 .'
                'item-1 item-2 item-3'
                'item-1 . item-3'
                'item-1 item-5 item-3'
                '. item-5 .'
                'item-4 item-5 .'
                'item-4 item-5 item-6'
                'item-4 . item-6'
                '. pagination item-6'
            ;
        }
    }

    // .success-stories__item

    &__pagination {

        @media(min-width: 768px) and (max-width: 1024px) {
            grid-column: span 2;
        }

        @media(min-width: 1025px) {
            grid-area: pagination;
        }

        @media(max-width: 1024px) {
            margin-top: calc(var(--offset-l) - var(--offset-m));
        }
    }

    // .success-stories__item--1

    &__item--1 {
        @media(min-width: 1025px) {
            grid-area: item-1;
        }
    }

    // .success-stories__item--2

    &__item--2 {
        @media(min-width: 1025px) {
            grid-area: item-2;
        }
    }

    // .success-stories__item--3

    &__item--3 {
        @media(min-width: 1025px) {
            grid-area: item-3;
        }
    }

    // .success-stories__item--4

    &__item--4 {
        display: none;

        @media(min-width: 768px) {
            display: block;
        }

        @media(min-width: 1025px) {
            grid-area: item-4;
        }
    }

    // .success-stories__item--5

    &__item--5 {
        display: none;

        @media(min-width: 768px) {
            display: block;
        }

        @media(min-width: 1025px) {
            grid-area: item-5;
        }
    }

    // .success-stories__item--6

    &__item--6 {
        display: none;

        @media(min-width: 768px) {
            display: block;
        }

        @media(min-width: 1025px) {
            grid-area: item-6;
        }
    }
}
