.children-sections {
    --title-mb: 5.6rem;

    position: relative;
    padding-top: 21.1rem;
    padding-bottom: 12.8rem;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: -3.7rem;
        width: calc(100% + 1rem);
        background-image: url(../images/content/children-sections/bg.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    // .children-sections__container

    &__container {
    }

    // .children-sections__body

    &__body {
    }

    // .children-sections__title

    &__title {
        margin-bottom: var(--title-mb);
    }

    &__slider {
        width: calc(100vw - var(--gap) * 4);
    }

    &__slider-nav {
        position: absolute;
        top: calc(var(--title-mb) * (-2));
        right: 0;
        border-radius: var(--radius);

        .slider-nav {
            &__arrow {
                &--prev {
                    border-radius: var(--radius) 0 0 var(--radius);
                }

                &--next {
                    border-radius: 0 var(--radius) var(--radius) 0;
                }
            }
        }
    }
}
