.children-sections {
    position: relative;
    padding-top: 21.1rem;
    padding-bottom: 12.8rem;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: -3.7rem;
        width: calc(100% + 1rem);
        background-image: url(../images/content/children-sections/bg.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    // .children-sections__title

    &__title {
        position: relative;
        z-index: 25;
        margin-bottom: var(--offset-xxl);
    }
}

.workout-section {
    $this: &;

    &__slider-nav {
        position: absolute;
        top: calc(var(--offset-xxl) * (-2));
        right: 0;
    }

    &__slider {
        width: calc(100vw - var(--gap) * 4);
    }

    &--without-top {
        --nav: var(--arrow-btn);

        #{$this}__slider-nav {
            top: auto;
            right: auto;
            bottom: 4rem;
            left: 4rem;
            height: var(--nav);
        }

        .slider-nav {
            &__arrow {
                width: var(--nav);
                height: var(--nav);
            }
        }
    }
}
