.fitness-card {
    $this: &;

    position: relative;

    @media (min-width: 1025px) {
        &:before {
            @include rect(bottom, left, 0, 0, calc(100% - 23.5rem), var(--yellow));
        }
    }

    // .fitness-card__grid

    &__grid {
        @media (min-width: 1025px) {
            grid-template-rows: var(--section-padding-xl) max-content var(--section-padding);
            grid-template-areas:
                '. . . . aside'
                '. . body . aside'
                '. . . . .';
        }
    }

    // .fitness-card__body

    &__body {
        --gap: 4.8rem;
        --title: 28.8rem;

        display: grid;
        grid-template-rows: max-content 1fr var(--circle-text) 7rem max-content;
        grid-template-columns: var(--circle-text) calc(var(--title) - var(--circle-text)) calc(var(--gap) * 2) 1fr var(--gap) 1fr;
        grid-template-areas:
            'title title . list-1 . list-2'
            '. . . list-1 .list-2'
            'circle circle . list-1 . list-2'
            '. . . . . .'
            'btn btn btn btn btn btn';

        @media (min-width: 1025px) {
            grid-area: body;
        }
    }

    // .fitness-card__title

    &__title {
        grid-area: title;
    }

    // .fitness-card__circle-text

    &__circle-text {
        grid-area: circle;
    }

    // .fitness-card__list-col--1

    &__list-col--1 {
        grid-area: list-1;

        #{$this} {
            &__list-item {
                &:before {
                    background-image: url(../images/icons/check.svg);
                }
            }

            &__list-title {
                @extend %text-20;

                span {
                    color: var(--yellow);
                }
            }
        }
    }

    // .fitness-card__list-col--2

    &__list-col--2 {
        grid-area: list-2;

        #{$this} {
            &__list-item {
                &:before {
                    background-image: url(../images/icons/minus.svg);
                }
            }

            &__list-title {
                @extend %text-18;
            }
        }
    }

    // .fitness-card__list-title

    &__list-title {
        margin-bottom: var(--offset-xls);
    }

    // .fitness-card__list

    &__list {
        @include row-grid(calc(var(--offset-xls) + 0.2rem));
    }

    // .fitness-card__list-item

    &__list-item {
        position: relative;
        padding-left: 4.8rem;

        &::before {
            content: '';
            position: absolute;
            top: 0rem;
            left: 0rem;
            width: var(--offset-m);
            height: var(--offset-m);
            @extend %bg-contain;
        }
    }

    // .fitness-card__btn

    &__btn {
        grid-area: btn;
        padding: 1.95rem;
    }

    // .fitness-card__aside-img

    &__aside-client {
        @media (min-width: 1025px) {
            grid-area: aside;
        }
    }
}
