.promo-club {
    --pt: 11.2rem;
    --title: 39.3rem;

    display: grid;
    min-height: 100vh;

    @media (max-width: 1024px) {
        //grid-template-rows: calc(100vh - var(--offset-xl)) var(--offset-xl) max-content;
        grid-template-rows: 100vh max-content;
    }

    // .promo-club__bg

    &__bg,
    &__body {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    &__bg {
        img {
            @extend %cover;
        }
    }

    // .promo-club__body

    &__body {
        @media (min-width: 1025px) {
            grid-template-rows: calc(var(--header-height) + var(--pt)) max-content calc(var(--gap) - var(--offset-xxl)) var(
                    --offset-xxl
                );
            grid-template-areas:
                '. . . . marquee'
                '. . content . marquee'
                'scroll . content . marquee'
                'scroll . . . marquee';
        }

        @media (max-width: 1024px) {
            grid-template-columns: var(--container-padding) calc(100vw - var(--container-padding) * 2) var(--container-padding);
        }
    }

    // .promo-club__content

    &__content {
        display: grid;
        grid-template-rows: max-content 1fr max-content calc(var(--offset-xxl) - 0.1rem);
        grid-template-areas:
            'title title title . box'
            '. . . . .'
            'ratings . infoBox infoBox infoBox'
            '. . . . .'
            'nav nav nav nav nav';
        color: var(--white);

        @media (min-width: 1025px) {
            grid-area: content;
            grid-template-columns: var(--rating) var(--offset-l) calc(var(--title) - var(--offset-l) - var(--rating)) 1fr var(
                    --gap
                );
        }

        @media (max-width: 1024px) {
            min-height: 100vh;
            padding: calc(var(--header-height) + var(--offset-l)) 0 var(--offset-s);
            grid-template-rows: max-content 1fr var(--rating) var(--offset-l) max-content;
            grid-template-areas:
                'title title'
                '. .'
                'ratings ratings'
                '. .'
                'box .';
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            grid-template-columns: var(--gap) 1fr;
        }

        @media (max-width: 767px) {
            grid-template-areas:
                'title'
                '.'
                'ratings'
                '.'
                'box';
        }
    }

    &__title,
    &__box-link {
        @media (min-width: 1025px) {
            align-self: center;
        }
    }

    // .promo-club__title

    &__title {
        grid-area: title;

        @media (max-width: 767px) {
            max-width: 24rem;
        }

        span {
            display: block;
        }
    }

    &__box-link {
        grid-area: box;

        @media (max-width: 1024px) {
            width: 100%;
        }
    }

    &__ratings {
        grid-area: ratings;

        @media (max-width: 1024px) {
            grid-auto-columns: var(--rating);
            grid-auto-flow: column;
        }

        @media (min-width: 1025px) {
            row-gap: 3.4rem;
            grid-template-columns: unset;
        }
    }

    &__info-box {
        @media (min-width: 1025px) {
            grid-area: infoBox;
        }

        @media (max-width: 1024px) {
            grid-row: -2 / -1;
        }
    }

    // .promo-club__nav

    &__nav {
        display: none;

        @media (min-width: 1025px) {
            display: none;
            grid-area: nav;
        }

        /* @media (max-width: 1024px) {
            grid-row: 2 / 3;
        } */
    }

    &__marquee {
        @media (max-width: 1024px) {
            grid-area: unset;
            position: absolute;
            top: calc(var(--header-height) + var(--offset-l));
            right: var(--offset-xxs);
        }

        p {
            @media (max-width: 767px) {
                animation: none;
                display: none;

                &:first-child {
                    display: block;
                }
            }
        }
    }
}
