.promo-club {
    --pt: 11.2rem;
    --title: 39.3rem;

    display: grid;
    min-height: 100vh;
    // .promo-club__bg

    &__bg,
    &__body {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    &__bg {
        img {
            @extend %cover;
        }
    }

    // .promo-club__body

    &__body {
        grid-template-rows: calc(var(--header-height) + var(--pt)) max-content calc(var(--gap) - var(--offset-xxl)) var(--offset-xxl);
        grid-template-areas:
            '. . . . marquee'
            '. . content . marquee'
            'scroll . content . marquee'
            'scroll . . . marquee'
        ;
    }

    // .promo-club__content

    &__content {
        grid-area: content;
        display: grid;
        grid-template-columns: var(--rating) var(--col-gap) calc(var(--title) - var(--col-gap) - var(--rating)) 1fr var(--gap);
        grid-template-rows: max-content 1fr max-content calc(var(--offset-xxl) - 0.1rem);
        grid-template-areas:
            'title title title . box'
            '. . . . .'
            'ratings . infoBox infoBox infoBox'
            '. . . . .'
            'nav nav nav nav nav'
        ;
        color: #fff;
    }

    &__title,
    &__box-link {
        @media(min-width: 1025px) {
            align-self: center;
        }
    }

    // .promo-club__title

    &__title {
        grid-area: title;

        span {
            display: block;
        }
    }

    &__box-link {
        grid-area: box;
    }

    &__ratings {
        grid-area: ratings;
        row-gap: 3.4rem;
        grid-template-columns: unset;
    }

    &__info-box {
        grid-area: infoBox;
    }

    // .promo-club__nav

    &__nav {
        grid-area: nav;
    }
}
