.aside-article {
    // .aside-article__img

    &__img {
        position: relative;
        height: 24.8rem;
    }

    &__label {
        position: absolute;
        top: var(--offset-s);
        left: var(--offset-s);
    }

    // .aside-article__content

    &__content {
        padding-top: var(--offset-s);
    }

    // .aside-article__text

    &__text {
        font-weight: 700;
    }
}
