.box-link {
    $pd: 2.4rem;
    $pdr: 4rem;
    @media (max-width: 767px) {
        $pd: 1.6rem;
        $pdr: 2.5rem;
    }

    position: relative;
    padding: $pd $pdr calc(var(--arrow-btn) + $pd) $pd;
    min-height: var(--gap);
    background-color: var(--yellow);
    color: var(--black);
    transition: 0.3s all;
    @media (min-width: 768px) {
        width: var(--gap);
    }
    @media (max-width: 767px) {
        padding: $pd;
        min-height: 8rem;
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--dark-yellow);
        }
    }

    // .box-link__text

    &__text {
        @extend %text-13;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        @media (max-width: 767px) {
            max-width: 21.5rem;
            font-size: 1.1rem;
            line-height: 1.6rem;
        }
    }

    // .box-link__arrow

    &__arrow {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
