.info-block {
    padding: 4.5rem var(--offset-xl) 5.2rem;
    display: grid;
    background-color: var(--white);
    color: var(--black);

    @media (min-width: 1025px) {
        grid-template-areas:
            'contacts capacity'
            'contacts soc';
        justify-content: space-between;
    }

    @media (max-width: 1024px) {
        row-gap: var(--offset-m);
        padding: var(--offset-l) var(--container-padding);
    }

    // .info-block__capacity

    &__capacity {
        @media (min-width: 1025px) {
            grid-area: capacity;
        }
    }

    // .info-block__contacts

    &__contacts {
        display: grid;
        gap: 5.2rem 7.6rem;

        @media (max-width: 1024px) {
            gap: var(--offset-m);
        }

        @media (max-width: 767px) {
            gap: var(--offset-s);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, max-content);
        }

        @media (min-width: 1025px) {
            grid-area: contacts;
        }
    }

    // .info-block__socials

    &__socials {
        column-gap: var(--offset-s);

        @media (min-width: 1025px) {
            align-self: flex-end;
            justify-self: end;
            grid-area: soc;
        }
    }
}

.capacity {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-areas:
        'icon percent'
        'icon descr';
    align-items: center;
    column-gap: var(--offset-m);

    // .capacity__icon

    &__icon {
        grid-area: icon;
        width: var(--offset-xxl);
        height: var(--offset-xxl);
        border-radius: 50%;
        border: 0.3rem solid var(--green);
    }

    // .capacity__percent

    &__percent {
        @extend .title;
        @extend %text-26;
        grid-area: percent;
    }

    // .capacity__descr

    &__descr {
        @extend %text-14;
        color: var(--dark-gray);
        grid-area: descr;

        @media (min-width: 1025px) {
            margin-top: -3rem;
        }
    }
}

.contact-info-item {
    display: grid;
    grid-template-columns: var(--offset-m) max-content;
    grid-template-rows: var(--offset-m) max-content;
    grid-template-areas:
        'icon title'
        'value value';
    align-items: center;
    gap: var(--offset-xxs);

    @media (max-width: 767px) {
        grid-template-columns: var(--offset-m) 1fr;
        row-gap: calc(var(--offset-xxs) / 2);
    }

    // .contact-info-item__icon

    &__icon {
        grid-area: icon;
        width: var(--offset-m);
        height: var(--offset-m);
        fill: var(--gray);
    }

    // .contact-info-item__title

    &__title {
        @extend %text-12;
        grid-area: title;
    }

    // .contact-info-item__value

    &__value {
        @extend %text-14;
        grid-area: value;

        @media (max-width: 767px) {
            font-size: 1.3rem;
            line-height: 1.8rem;
        }

        b {
            font-weight: 500;
        }
    }

    // .contact-info-item__link

    &__link {
        transition: var(--transition) color;

        @media (any-hover: hover) {
            &:hover {
                color: var(--yellow);
            }
        }
    }
}
