.aside-client {
    display: none;

    @media (min-width: 1025px) {
        display: grid;
        align-items: center;
        gap: var(--offset-xxxl);
        grid-template-rows: 48rem max-content;
    }

    // .aside-client__img

    &__img {
        img {
            @extend %cover;
        }
    }

    // .aside-client__descr

    &__descr {
        @extend %vertical-align;
        flex-direction: row-reverse;
        @extend %text-14;
        line-height: 2.4rem;
        color: var(--dark-gray);
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
    }

    &--light-bkue {
        background-color: var(--light-blue);
    }
}
